<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/user/user.xml" />
		<mapper resource="mapper/goods/goods.xml" />
		<mapper resource="mapper/goods/thumbnail.xml" />
		<mapper resource="mapper/goods/goodsmodel.xml" />
		<mapper resource="mapper/qrcode/qrcode.xml" />
		<mapper resource="mapper/qrcode/qrcodebatch.xml" />
		<mapper resource="mapper/goods/component.xml" />
		<mapper resource="mapper/goods/modelcomponent.xml" />
		<mapper resource="mapper/order/customizeorder.xml" />
		<mapper resource="mapper/consumer/consumergoods.xml" />
		<mapper resource="mapper/order/externalorder.xml" />
		<mapper resource="mapper/order/ordermission.xml"/>
		<mapper resource="mapper/consumer/consumersharecode.xml" />
		<mapper resource="mapper/machine/machine.xml" />
		<mapper resource="mapper/machine/devicechip.xml" />
		<mapper resource="mapper/feedBack/feedback.xml" />
		<mapper resource="mapper/qrcode/prebind.xml" />
		<mapper resource="mapper/address/deviceaddress.xml" />
		<mapper resource="mapper/machine/idlemachine.xml" />
		<mapper resource="mapper/role/role.xml" />
		<mapper resource="mapper/point/pointrecord.xml" />
		<mapper resource="mapper/point/pointvalue.xml" />
		<mapper resource="mapper/userlog/userlog.xml" />
		<mapper resource="mapper/systemlog/systemlog.xml" />
		<mapper resource="mapper/order/orderstatus.xml" />
		<mapper resource="mapper/qrcode/qrcodestatus.xml" />
		<mapper resource="mapper/machine/insight.xml" />
		<mapper resource="mapper/order/orderchannel.xml" />
		<mapper resource="mapper/order/missionChannel.xml" />
		<mapper resource="mapper/consumer/consumerstati.xml" />
		<mapper resource="mapper/order/orderBatch.xml"  />
		<mapper resource="mapper/order/guomaiorder.xml"  />
		<mapper resource="mapper/order/ordercommodity.xml"  />
		<mapper resource="mapper/order/orderoperation.xml"  />
	</mappers>
</configuration>