.pad {
    padding:30px 30px 30px 30px !important;
}
.button-gm {
	min-height: 30px;
	line-height: 30px;
	font-size: 14px
}
.button-me {
    border-color: transparent;
    background-color: #00c0f5;
    color: #FFF;
    position: relative;
    display: inline-block;
    margin: 10px 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}
.footer {
    color: #444;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
.weui_uploader_input_wrp {
    float: left;
    position: relative;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 77px;
    height: 77px;
    border: 1px solid #D9D9D9;
}

.weui_uploader_input_wrp:before,
.weui_uploader_input_wrp:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
}

.weui_uploader_input_wrp:before {
    width: 2px;
    height: 39.5px;
}

.weui_uploader_input_wrp:after {
    width: 39.5px;
    height: 2px;
}

.weui_uploader_input_wrp:active {
    border-color: #999999;
}

.weui_uploader_input_wrp:active:before,
.weui_uploader_input_wrp:active:after {
    background-color: #999999;
}

.center-in-center{
            position: absolute;
            top: 40%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }