<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/userAction.xml" />
		<mapper resource="mapper/userVip.xml" />
		<mapper resource="mapper/aqiData.xml" />
		<mapper resource="mapper/deviceAttribute.xml" />
		<mapper resource="mapper/vip/consumer.xml" />
		<mapper resource="mapper/goods/goods.xml" />
		<mapper resource="mapper/goods/thumbnail.xml" />
		<mapper resource="mapper/location/province.xml" />
		<mapper resource="mapper/location/city.xml" />
		<mapper resource="mapper/device/devicechip.xml" />
		<mapper resource="mapper/vip/consumersharecode.xml" />
	</mappers>
</configuration>