#parse("/common/util.vm")
<!DOCTYPE html>
<html lang="zh_CN">
<head>
#parse("/lib/init.lib.vm")
#parse("lib/bootstrap.lib.vm")
#parse("lib/echarts.lib.vm")
<link rel="stylesheet" href="${path.concat('/material/css/dashboard.css')}" />
<link rel="stylesheet" href="${path.concat('/material/css/custom.css')}" />
<title>数据监测</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
    	<div class="container-fluid">
        	<div class="navbar-header">
	          	<div class="navbar-brand">
	          		<img src="${path.concat('/material/image/logo_gm_v1_transparent.png')}"/>
	          	</div>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav navbar-right">
	            	
	          	</ul>
        	</div>
      	</div>
    </nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 main">
				<div class="row placeholders datazone">
					<div class="row">
						<div class="col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder">
							<div class="datazone-title indoor">室内</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder">
							<div class="datazone-title outdoor">室外</div>
						</div>
						<div class="col-md-2 col-lg-2 location">
							<h1 id="location_name"></h1>
						</div>
					</div>
					<div class="row">
						<div id="left-digit" class="col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle">
							<div class="datazone-left">
								<div class="cell">
									<h1 class="pmvalue" id="inner"></h1>
									<label id="inner-label" class="label"></>
								</div>
							</div>
							<div class="pm25">PM2.5</div>
						</div>
						<div id="right-digit" class="col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-md-offset-2 placeholder digitincircle">
							<div class="datazone-right">
								<div class="cell">
									<h1 class="pmvalue" id="outer"></h1>
									<label id="outer-label" class="label"></>
								</div>
							</div>
							<div class="aqi">AQI</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row placeholders items">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-9 col-lg-9">
							<div class="row">
								<div class="col-md-4 col-lg-4">
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="thumbnail">
											<img src="${path.concat('/material/image/temperature.png')}" />
											<div class="caption">
												温度
											</div>
										</div>
									</div>
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
										<h1 id="temperature" class="item-value"></h1>
									</div>
								</div>
								<div class="col-md-4 col-lg-4">
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="thumbnail">
											<img src="${path.concat('/material/image/wet.png')}" />
											<div class="caption">
												湿度
											</div>
										</div>
									</div>
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
										<h1 id="wet" class="item-value"></h1>
									</div>
								</div>
								<div class="col-md-4 col-lg-4">
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="thumbnail">
											<img src="${path.concat('/material/image/cabon.png')}" />
											<div class="caption">
												CO<sub>2</sub>
											</div>
										</div>
									</div>
									<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
										<h1 id="carbon" class="item-value"></h1>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="row footer-bottom">
									新鲜好空气由<span class="trademark">「果麦新风」</span>提供，详情扫描右侧淘宝企业店铺二维码
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3">
							<img width="350px" height="350px" src="${path.concat('/material/image/tao_qrcode.png')}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$(document).ready(function() {
		init();
		self.setInterval("init()", 30000);
	});
	
	function init() {
		var url = "${path.concat('/monitor/')}" + "${machineId}" + "/inner";
		$.get(url, function(result) {
			if(result.responseCode == "RESPONSE_OK") {
				if(result.data.pm25 <= 35) {
					$("#inner-label").attr("class", "label pm25-best");
					$("#left-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle best");
					$("#inner-label").text("优秀");
				} else if(result.data.pm25 <= 75) {
					$("#inner-label").attr("class", "label pm25-good");
					$("#left-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle good");
					$("#inner-label").text("良好");
				} else if(result.data.pm25 <= 115) {
					$("#inner-label").attr("class", "label pm25-soso");
					$("#left-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle soso");
					$("#inner-label").text("轻度污染");
				} else if(result.data.pm25 <= 150) {
					$("#inner-label").attr("class", "label pm25-bad");
					$("#left-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle bad");
					$("#inner-label").text("中度污染");
				} else if(result.data.pm25 <= 250) {
					$("#inner-label").attr("class", "label pm25-rather-bad");
					$("#inner-label").text("重度污染");
				} else {
					$("#inner-label").attr("class", "label pm25-worst");
					$("#inner-label").text("严重污染");
				}
				$("#inner").html(result.data.pm25);
				$("#temperature").text(result.data.temperature + "℃");
				$("#wet").text(result.data.humidity + "%");
				## $("#carbon").text(result.data.co2 + "ppm");
				$("#carbon").text("818ppm");
			}
			if(result.responseCode == "RESPONSE_NULL") {
				$("#inner").html("0");
				$("#temperature").html("0℃");
				$("#wet").text("0%");
				$("#carbon").text("0ppm");
				$("#left-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle");
			}
		});
		
		url = "${path.concat('/monitor/')}" + "${machineId}" + "/outer";
		$.get(url, function(result) {
			if(result.responseCode == "RESPONSE_OK") {
				if(result.data.cityAqi <= 50) {
					$("#outer-label").attr("class", "label aqi-best");
					$("#right-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle best");
					$("#outer-label").text("优秀");
				} else if(result.data.cityAqi <= 100) {
					$("#outer-label").attr("class", "label aqi-good");
					$("#right-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle good");
					$("#outer-label").text("良好");
				} else if(result.data.cityAqi <= 150) {
					$("#outer-label").attr("class", "label aqi-soso");
					$("#right-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle soso");
					$("#outer-label").text("轻度污染");
				} else if(result.data.cityAqi <= 200) {
					$("#outer-label").attr("class", "label aqi-bad");
					$("#right-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle bad");
					$("#outer-label").text("中度污染");
				} else if(result.data.cityAqi <= 300) {
					$("#outer-label").attr("class", "label aqi-rather-bad");
					$("#outer-label").text("重度污染");
				} else {
					$("#outer-label").attr("class", "label aqi-worst");
					$("#outer-label").text("严重污染");
				}
				$("#outer").html(result.data.cityAqi);
				$("#location_name").html("<i class='glyphicon glyphicon-map-marker'></i>" + result.data.cityName);
			}
			if(result.responseCode == "RESPONSE_NULL") {
				$("#outer").html("0");
				$("#right-digit").attr("class", "col-sm-6 col-md-3 col-lg-3 col-md-offset-2 col-lg-md-offset-2 placeholder digitincircle");
			}
		});
	}
</script>
</html>