#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    #parse("/backend/init/init.vm")
    <link rel="stylesheet" href="${path.concat('/plugins/dropload/dropload.css')}"></link>
    <title>预绑定列表</title>
</head>
<body class="fixed-sidebar fixed-header" ontouchstart>
<div id="loading" class="ui-front loader ui-widget-overlay bg-white opacity-100">
    <img src="${path.concat('/material/assets/images/loader-dark.gif')}" alt="loading">
</div>
<div id="page-wrapper">
    #parse("/backend/common/sidebar.vm")
    #parse("/backend/qrcode/component/prebind_list.vm")
</div>
</body>
<script type="text/javascript" src="${path.concat('/plugins/dropload/dropload.min.js')}"></script>
</html>