<div id="page-main">
    <div id="page-main-wrapper">
        <div id="page-header" class="clearfix">
            <div id="page-header-wrapper" class="clearfix">
                <div id="page-breadcrumb-wrapper">
                    <div id="page-breadcrumb">
                        <a href="javascript:;">
                            <i class="glyph-icon icon-dashboard"></i>
                            首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-laptop"></i>
                            机器
                        </a>
                        <span class="current">
                            机器详情
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                    首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-laptop"></i>
                    机器
                </a>
                <span class="current">
                    机器详情
                </span>
            </div>
        </div>
        <div id="page-content">
            <h4>机器信息</h4>
            <div style="margin-left: 20px; margin-top: 20px; font-size: 15px">
                <div class="row form-row" >
                    <div class="col-md-2">
                        <label class="form-label">机器二维码：</label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-label" id="deviceId"></label>
                    </div>
                </div>
                <div class="row form-row" >
                    <div class="col-md-2">
                        <label class="form-label">用户姓名：</label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-label" id="consumer-name"></label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-2">
                        <label class="form-label">用户地址：</label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-label" id="consumer-address"></label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-2">
                        <label class="form-label">各项指标：</label>
                    </div>
                    <div class="col-md-10">
                        <table id="machine-status" class="table" style="text-align: center"></table>
                    </div>
                </div>
            </div>
            <div style="margin-left: 20px; margin-top: 20px">
                <div style="height: 400px" id="machine-pm25-chart"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var current_url = new URL(window.location.href.toString());
    var device_id = current_url.searchParams.get("deviceId");
    var uid = current_url.searchParams.get("uid");

    function initMachineInfo() {
        var url = "${path.concat("/machine/detail?deviceId=")}" + device_id + "&uid=" + uid;
        $.get(url, function (response) {
            if (response.responseCode === 'RESPONSE_OK') {
                var data = response.data;
                var deviceInfo = data.deviceInfo;
                var deviceStatus = data.deviceStatus;

                $("#deviceId").html(device_id);
                $("#consumer-name").html(deviceInfo.owner + "(" + deviceInfo.phone + ")");
                $("#consumer-address").html(deviceInfo.province + " " + deviceInfo.city + " " + deviceInfo.address);
                var thead = $("<thead><td>电源</td><td>模式</td><td>循环</td><td>辅热</td>" +
                        "<td>杀菌</td><td>pm25</td><td>风量</td><td>亮度</td><td>温度</td><td>湿度</td></thead>");
                thead.css("background","#e4e9f0");
                var tbody = $("<tbody></tbody>");
                var tr = ''
                if ("deviceStatus" in data) {
                    var power = deviceStatus.power == '0' ? "关" : "开";
                    var workMode = '';
                    if (deviceStatus.workMode == 0) {
                        workMode = "自动模式";
                    } else if (deviceStatus.workMode == 1) {
                        workMode = "手动模式";
                    } else {
                        workMode = "睡眠模式";
                    }
                    var cycle = '外循环';
                    var heat = deviceStatus.heat == '0' ? '关闭': '开启';
                    var uv = deviceStatus.uv == '0' ? '关闭': '开启';
                    var pm25 = deviceStatus.pm25;
                    var velocity = deviceStatus.velocity;
                    var light = deviceStatus.light;
                    var temperature = deviceStatus.temperature;
                    var humidity = deviceStatus.humidity;
                    tr = $("<tr><td>" + power + " </td><td>" + workMode + "</td><td>" + cycle + "</td><td>" + heat + "</td>" +
                            "<td>" + uv + "</td><td>" + pm25 + " </td><td>" + velocity + "</td><td>" + light +
                            "</td><td>" + temperature + "</td><td>" + humidity + "</td></tr>");
                    tbody.append(tr);
                } else {
                    tr = $("<tr><td colspan='10'>机器离线</td></tr>");

                    tbody.append(tr);
                }
                $("#machine-status").append(thead);
                $("#machine-status").append(tbody);
            }
        });
    }

    function init_machine_pm25_picture() {
        var day_week_ago = new Date();
        day_week_ago.setMonth(day_week_ago.getMonth() - 1);
        var pm25_url = "${path.concat("/machine/device/pm25/status?uid=")}" + uid + "&startDate=" + formatDate(day_week_ago);
        $.get(pm25_url, function (response) {
           if (response.responseCode == 'RESPONSE_OK') {
               var data = response.data;
               var pm25_array = [];
               var time_array = [];
               for (var i = 0; i < data.length; i++) {
                   pm25_array.push(data[i].pm25);
                   time_array.push(formatDate(new Date(data[i].createAt)));
               }
               var option = {
                   title: {
                       text: 'PM2.5趋势图'
                   },
                   xAxis: {
                       type: 'category',
                       data: time_array
                   },
                   tooltip: {
                       trigger: 'axis'
                   },
                   yAxis: {
                       type: 'value',
                       splitLine: {
                           show: false
                       }
                   },
                   toolbox: {
                       left: 'center',
                       feature: {
                           dataZoom: {
                               yAxisIndex: 'none'
                           },
                           restore: {},
                           saveAsImage: {}
                       }
                   },
                   dataZoom: [{
                       startValue: '2017-06-01'
                   }, {
                       type: 'inside'
                   }],
                   visualMap: {
                       top: 10,
                       right: 10,
                       pieces: [
                           {
                               gt: 0,
                               lte: 10,
                               color: '#096'
                           }, {
                               gt: 10,
                               lte: 20,
                               color: '#ffde33'
                           }, {
                               gt: 20,
                               lte: 30,
                               color: '#ff9933'
                           }, {
                               gt: 30,
                               lte: 40,
                               color: '#cc0033'
                           }, {
                               gt: 40,
                               lte: 50,
                               color: '#660099'
                           }, {
                               gt: 50,
                               color: '#7e0023'
                           }
                       ],
                       outOfRange: {
                           color: '#999'
                       }
                   },
                   series: [{
                       data: pm25_array,
                       type: 'line',
                       smooth: true,
                       markLine: {
                           silent: true,
                           data: [{
                               yAxis: 10
                           }, {
                               yAxis: 20
                           }, {
                               yAxis: 30
                           }, {
                               yAxis: 40
                           }, {
                               yAxis: 50
                           }]
                       }
                   }]
               };
               var pm25_chart = echarts.init(document.getElementById('machine-pm25-chart'));
               pm25_chart.setOption(option);
           }
        });
    }

    function formatDate(date) {
        var year = date.getFullYear().toString();
        var month = ("0" + (date.getMonth() + 1).toString()).slice(-2).toString();
        var day = ("0" + date.getDate().toString()).slice(-2).toString();

        return year + '/' + month + '/' + day;
    }

    initMachineInfo();
    init_machine_pm25_picture();
</script>