<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="finley/monitor/mapper/machine.xml"/>
		<mapper resource="finley/monitor/mapper/devicecity.xml"/>
		<mapper resource="finley/monitor/mapper/logopath.xml"/>
	</mappers>
</configuration>