<div id="page-main">
    <div id="page-main-wrapper">
        <div id="page-header" class="clearfix">
            <div id="page-header-wrapper" class="clearfix">
                <div id="page-breadcrumb-wrapper">
                    <div id="page-breadcrumb">
                        <a href="javascript:;">
                            <i class="glyph-icon icon-dashboard"></i>
                            首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-laptop"></i>
                            二维码
                        </a>
                        <span class="current">
                            解除预绑定
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                    首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-laptop"></i>
                    二维码
                </a>
                <span class="current">
                    解除预绑定
                </span>
            </div>
        </div>
        <div id="page-content">
            <h4>解除预绑定二维码</h4>

            <div class="row" id="idle-machine-list"></div>

            <div id="prebind-form" title="预绑定" style="margin-top: 20px">
                <div id="range-deliver-form">
                    <div class="col-md-10 center-margin">
                        <div class="form-row" id="model_row">
                            <div class="form-input">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>型号:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="model_no"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" id="batch_row">
                            <div class="form-input">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>批号:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="batch_no"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" id="value_row">
                            <div class="form-input">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>码值:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="code_value" placeholder="请输入二维码第三段的值"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="display: none;" id="full_code_row">
                            <div class="form-input">
                                <div class="row form-row">
                                    <div class="col-xs-3">
                                        <label>二维码:</label>
                                    </div>
                                    <div class="col-xs-9" id="codeid">
                                    </div>
                                </div>
                            </div>
                            <div class="form-input">
                                <div class="row form-row">
                                    <div class="col-xs-3">
                                        <label>主板编号:</label>
                                    </div>
                                    <div class="col-xs-9" id="uid">
                                    </div>
                                </div>
                            </div>
                            <div class="form-input">
                                <div class="row form-row">
                                    <div class="col-xs-3">
                                        <label>绑定日期:</label>
                                    </div>
                                    <div class="col-xs-9" id="prebind-date">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-input">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn large bg-green" id="check-prebind-btn">
                                            <span class="button-content">校验</span>
                                        </button>
                                        <button class='btn large bg-blue' id="confirm-prebind-btn"
                                                style="display:none;">
                                            <span class='button-content'>解除预绑定</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function resetQrcodeModel() {
            $('#model_no').empty();
            var modelUrl = "${path.concat('/model/available')}";
            $('#model_no').append($('<option value=""></option>').text('---请选择型号----'));
            $.get(modelUrl, function (response) {
                if (response.responseCode === 'RESPONSE_OK') {
                    var data = response.data;
                    for (var i =0; i < data.length; i++) {
                        var option = $('<option></option>').text(data[i].modelCode);
                        option.attr('value', data[i].modelId);
                        $('#model_no').append(option);
                    }
                }
            })
        }
        
        $('#model_no').on('change', function () {
            var modelId = $('#model_no').find(':selected').val();
            if (not_null(modelId)) {
                var batchUrl = "${path.concat('/qrcode/batch/available')}" + '?modelId=' + modelId;
                $('#batch_no').empty();
                $('#batch_no').append($('<option value=""></option>').text('---请选择批次----'));
                $.get(batchUrl, function (response) {
                    if (response.responseCode === 'RESPONSE_OK') {
                        var data = response.data;
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option></option>').text(data[i].batchNo);
                            option.attr('value', data[i].batchNo);
                            $('#batch_no').append(option);
                        }
                    }
                })
            }
        });

        $('#check-prebind-btn').on('click', function () {
            var modelNo = $('#model_no').find(':selected').val();
            var batchNo = $('#batch_no').find(':selected').val();
            var codeValue = $('#code_value').val();
            if (!not_null(modelNo)) {
                alert("请选择型号");
                return;
            }
            if (!not_null(batchNo)) {
                alert("请选择批次")
                return;
            }
            var qrcode = batchNo + codeValue;
            var prebindCheckUrl = "${path.concat("/qrcode/prebind/check")}";
            $.post(prebindCheckUrl, {candidate: qrcode}, function (response) {
                if (response.responseCode === 'RESPONSE_OK') {
                    var prebind = response.data;
                    $('#codeid').html(prebind.codeId);
                    $('#uid').html(prebind.uid);
                    var bindDate = new Date(prebind.createAt);
                    var year = bindDate.getFullYear().toString();
                    var month = ('0' + (bindDate.getMonth() + 1).toString()).slice(-2).toString();
                    var day = ('0' + bindDate.getDate().toString()).slice(-2).toString();
                    $('#prebind-date').html(year + '-' + month + '-' + day);

                    $('#model_row').hide();
                    $('#batch_row').hide();
                    $('#value_row').hide();
                    $('#check-prebind-btn').hide();

                    $('#full_code_row').css("display", 'block');
                    $('#confirm-prebind-btn').css("display", 'block');
                } else {
                    alert(response.description);
                    return;
                }
            })
        });
        
        $('#confirm-prebind-btn').on('click', function () {
            var codeId = $('#codeid').html();
            var unbindUr = "${path.concat('/qrcode/prebind/unbind/')}" + codeId;
            $.post(unbindUr, function (response) {
                if (response.responseCode === 'RESPONSE_OK') {
                    alert("解除绑定!")
                } else {
                    alert("解除绑定失败");
                }
                window.location.reload();
            })
        })
        resetQrcodeModel();
    });

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>