<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">所在城市</h1>
    <button class="button button-clear" ng-click="modal.hide()">取消</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="city in cities" type="item-text-wrap" href="" ng-click="choose(city)">
        <h2>{{city.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
