<ion-view view-title="QAir新风净化">
  <ion-content style="background-color:#FAFAFA">
     <div class="card">
		<a class="item item-icon-left" href="#/tab/dash">
			<i class="icon ion-cube"></i>
			<h2>设备名称<span style="float:right;font-size:18 px">7 ug/m<sup>3</sup></span></h2>
			<p>我的卧室<span style="float:right">风速：133</span></p>
		</a>	

		<div class="item item-text-wrap row" style="float:right;color:#888888">
			<div class="col">辅热: off</div>
			<div class="col">湿度: 77%</div>
			<div class="col">二氧化碳: 490</div>
		</div>     
     </div> 

	<div class="card">
		<a class="item item-icon-left" href="#/tab/dash">
			<i class="icon ion-cube"></i>
			<h2>设备名称<span style="float:right;font-size:18 px">7 ug/m<sup>3</sup></span></h2>
			<p>我的卧室<span style="float:right">风速：133</span></p>
		</a>	

		<div class="item item-text-wrap row" style="float:right;color:#888888">
			<div class="col">辅热: off</div>
			<div class="col">湿度: 77%</div>
			<div class="col">二氧化碳: 490</div>
		</div>     
     </div> 
  </ion-content>

     
	<ion-footer-bar align-title="left" class="bar-calm">
	  <div class="buttons">
	    <button class="button" ng-click="scanBarcode()">扫描新设备</button>
	  </div>
	  <div class="title"></div>
	  <div class="buttons" ng-click="modal.show()">
	    <button class="button">wifi设置</button>
	  </div>
	</ion-footer-bar>
</ion-view>
