<div id="page-sidebar">
	<div id="header-logo">
		果麦科技
        	<a href="javascript:;" class="tooltip-button" data-placement="bottom" title="Close sidebar" id="close-sidebar">
            	<i class="glyph-icon icon-align-justify"></i>
            </a>
            <a href="javascript:;" class="tooltip-button hidden" data-placement="bottom" title="Open sidebar" id="rm-close-sidebar">
                <i class="glyph-icon icon-align-justify"></i>
            </a>
            <a href="javascript:;" class="tooltip-button hidden" title="Navigation Menu" id="responsive-open-menu">
                <i class="glyph-icon icon-align-justify"></i>
            </a>
    </div>
	<div id="sidebar-menu" class="scrollable-content">
    	<ul>
        	<li>
	            <a href="${path.concat('/dashboard')}">
	            	<i class="glyph-icon icon-dashboard"></i>
	                首页
	            </a>
            </li>
            <li>
            	<a href="javascript:;">
                	<i class="glyph-icon icon-qrcode"></i>
                    二维码
                </a>
                <ul>
                    <li>
                    	<a href="${path.concat('/qrcode/prebind')}">
	                        <i class="glyph-icon icon-chevron-right"></i>
	                        预绑定
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>