
  <ion-content style="background-color:#FAFAFA">
  	 <div style="background: url(img/background.png?762048); background-size: 100% 100px; height: 100px">
	 <img alt="" src="img/logo.png?762048" height="40" width="100" style="float:right;margin-top:2px;margin-right:5px">
	 </div>
	 
	 <div class="padding">
	 <center><img alt="" src="img/GMQR.png?762048" width="90%"></img></center>
	 <p>1. 请【长按】图中二维码，并选择【识别二维码】，关注【果麦新风】公众号</p>
	 <p>2. 您的所有果麦新风设备都将会出现在【果麦新风】公众号【我的设备】中</p>
	 </div>
  </ion-content>
