<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<link href="../css/style.css?07301900" rel="stylesheet">
<title>果麦智能新风净化</title>
</head>
<body>
<div class="card-gm">
<div style="text-align:center;margin:10px 0">你的积分</div>
<div>
<hr style="border-style: dashed;border-color: #AAA"/>
<p>积分来源：</p>
</div>

<div>
<hr style="border-style: dashed;border-color: #AAA"/>
<p>积分规则：</p>
</div>
</div>
</body>
</html>