<ion-view view-title="QAir新风净化">
  <ion-content class="padding">
  	  <p style="font-size:16px"><i class="icon ion-settings"></i> 绑定设备</p>
	  <div class="list">
	  <label class="item item-input">
	    <span class="input-label">设备ID：</span>
	    <input type="text" placeholder="填写或扫描设备ID" ng-model="deviceID">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">设备名称：</span>
	    <input type="text" placeholder="设备名称" ng-model="deviceName">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">手机号码：</span>
	    <input type="number" placeholder="填写手机号码" ng-model="phone">
	  </label>
	  <label style="height:40%" class="item item-input">
	    <textarea style="height:100px" placeholder="填写设备所在地址，以便维护" ng-model="address"></textarea>
	  </label>
	  </div>
	  <div>
	  	<p ng-if="!(deviceID && phone && address && deviceName)" style="color:red;float:right">请填写完整</p>
        <button ng-if="deviceID && phone && address && deviceName" class="button button-block button-calm">下一步</button>
      </div>
  </ion-content>
</ion-view>
