<ion-view view-title="QAir新风净化">
<ion-content>
<div>
<img id="QRscan"></img>
</div>
<div class="padding">
        <a href="#/tab/{{deviceID}}/account" class="button button-block button-royal">返回</a>
      </div>
</ion-content>
<div class="tabs-striped tabs-color-calm">
<div class="tabs">
      <a ng-class="{true : 'tab-item active' , false : 'tab-item'}[mode == 1]" ng-click="controlQR()">
        控制权限
      </a>
      <a ng-class="{true : 'tab-item active' , false : 'tab-item'}[mode == 2]" ng-click="readonlyQR()">
        只读权限
      </a>
</div>
</div>
</ion-view>