<ion-view view-title="QAir新风净化">
  <ion-content style="background-color:#FAFAFA">
  	 <div class="padding"><a href="" style="float:right" ng-click="showConfirm(device.deviceID)">设备未正常绑定？</a></div>
     <div ng-repeat="device in deviceList" class="card">
		<a class="item item-icon-left" href="#tab/{{ device.deviceID}}/dash">
			<i class="icon ion-cube"></i>
			<h2>设备名称<span style="float:right;font-size:18 px">{{ device.cleanerStatus.pm25 }} ug/m<sup>3</sup></span></h2>
			<p>{{ device.deviceName }}<span style="float:right">风速：{{ device.cleanerStatus.velocity }}</span></p>
		</a>	

		<div class="item item-text-wrap row" style="float:right;color:#888888">
			<div ng-if="device.cleanerStatus.heat == 0" class="col">辅热: off</div>
			<div ng-if="device.cleanerStatus.heat == 1" class="col">辅热: on</div>
			<div class="col">湿度: {{ device.cleanerStatus.humidity }}%</div>
			<div class="col">二氧化碳: {{ device.cleanerStatus.co2 }}</div>
		</div>     
     </div> 
     
  </ion-content>

     
	<ion-footer-bar align-title="left" class="bar-calm">
	  <div class="buttons">
	    <button class="button" ng-click="scanBarcode()">扫描新设备</button>
	  </div>
	  <div class="title"></div>
	  <div class="buttons" ng-click="modal.show()">
	    <button class="button">wifi设置</button>
	  </div>
	</ion-footer-bar>
</ion-view>
