<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped tabs-background-calm tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="我的设备" icon-off="ion-cube" icon-on="ion-cube" href="#/home/device"  style="color:white">
    <ion-nav-view name="home-device"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="会员与购买" icon-off="ion-bag" icon-on="ion-bag" href="#/home/vip"  style="color:white">
    <ion-nav-view name="home-vip"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="召唤支援" icon-off="ion-ios-telephone" icon-on="ion-ios-telephone" href="#/home/support"  style="color:white">
    <ion-nav-view name="home-support"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="WIFI设置" icon-off="ion-wifi" icon-on="ion-wifi" href="#/home/wifi"  style="color:white">
    <ion-nav-view name="home-wifi"></ion-nav-view>
  </ion-tab>


</ion-tabs>