<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped tabs-top tabs-background-calm tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="我的设备" icon-off="ion-cube" icon-on="ion-cube" href="#/home/device"  style="color:white">
    <ion-nav-view name="home-device"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="会员与购买" icon-off="ion-bag" icon-on="ion-bag" href="#/home/vip"  style="color:white">
    <ion-nav-view name="home-vip"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="关于QAir" icon-off="ion-email" icon-on="ion-email" href="#/home/about"  style="color:white">
    <ion-nav-view name="home-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>