<ion-content style="background-color:#FFFFFF">
<div style="margin:15px">
<center>
<img alt="" src="img/mall.png?08131229" width="40%">
</center>
<div style="margin:20px 0" ng-click="linkCopy()">
<p style="color:#00c0f5;font-size:18px">1. 复制下面链接，打开手机淘宝就可以进入我们的企业店铺哦</p>
<textarea id="shop_link" style="color:#00c0f5;font-size:14px;border:0;width:100%;height:70px;line-height:16px" readonly="readonly">【我剁手都要买的宝贝（果麦新风壁挂式新风机新风系统过滤PM.5家用卧室客厅空气净化器GM-350）】，复制这条信息￥xJkr0XkbW5k￥后打开手机淘宝</textarea>
<p style="color:#00c0f5;font-size:18px">2. 欢迎客官在淘宝搜索“果麦新风”，进入果麦企业店铺购买</p>
</div>
<div style="margin:20px 0">
<img alt="" style="float:right" src="img/query.png?08131229" width="40%">
</div>
</div>
</ion-content>
