  <ion-content style="background-color:#FAFAFA">
  <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
  <div style="background: url(img/background.png); background-size: 100% 180px; height: 180px">
	 <button class="button button-calm" style="font-size:12px" ng-click="modal.show()"><i class="icon ion-location"></i> {{location}} <i class="icon ion-ios-arrow-down"></i></button>
	 <img alt="" src="img/logo.png" height="40" width="100" style="float:right;margin-top:2px;margin-right:10px">
	 <p style="color:white;text-align:center">28 June</p>
	 <p style="color:white;text-align:center;margin-top:0 px;font-size:36px; font-wight: bold">{{aqiData}} <span style="font-size:14px">AQI</span></p>
	 <p style="color:white;text-align:center">pm2.5: {{ pm25 }} ug/m<sup>3</sup></p>
	 <p style="color:white;text-align:center"><label class="button button-energized button-small">{{ airQuality }}</label></p>
   </div>
	<div class="list card">
		<div class="item">
			<button class="button button-small button-light"  ng-click="modal.show()"><i class="icon ion-location"></i> {{location}}<i class="icon ion-ios-arrow-down"></i></button>
			<highchart style="width:85%;height:35%" id="gaugeChart" config="gaugeChart"></highchart>
			<h2>空气质量: <span style="color:green">{{airQuality}}</span></h2>
			<p>PM2.5含量：{{pm25}} ug/m<sup>3</sup></p>
		</div>
		<div class="item item-toggle">
	     电源
	     <label class="toggle toggle-calm">
	       <input type="checkbox" ng-click="start()" id="dash_power">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	       <ion-spinner ng-if="powerRequest" icon="bubbles" class="spinner-calm"></ion-spinner>
	     </label>	
		</div>

		<div class="item item-toggle">
	     辅热
	     <label class="toggle toggle-calm">
	       <input type="checkbox" ng-click="heatControl()" id="dash_heat">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	       <ion-spinner ng-if="heatRequest" icon="bubbles" class="spinner-calm"></ion-spinner>
	     </label>			
		</div>

		<div class="item item-toggle">
	     紫外
	     <label class="toggle toggle-calm">
	       <input type="checkbox" ng-click="uvControl()" id="dash_uv">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	       <ion-spinner ng-if="uvRequest" icon="bubbles" class="spinner-calm"></ion-spinner>
	     </label>			
		</div>

		<div class="item">
		背光 <ion-spinner ng-if="lightRequest" style="float:right" icon="bubbles" class="spinner-calm"></ion-spinner>
		<div class="range range-positive">
			
			<i class="icon ion-ios-minus-empty"></i>
			<input type="range" on-release="lightControl(light)" ng-model="light" name="volume" min="0" max="100" value="30">
			<i class="icon ion-ios-plus-empty"></i>
		</div>
		</div>
		
		<div class="item">
		循环
		<div class="range range-positive">
			<span style="color:#666; font-size:14px">内循环</span>
			<input type="range"  on-release="cycleControl(cycle)" ng-model="cycle" name="volume" min="0" max="1" value="0">
			<span style="color:#666; font-size:14px">外循环</span>
		</div>
		</div>
		
	  <div ng-if="power" class="item">
		  模式 <ion-spinner ng-if="velocityRequest" style="float:right" icon="bubbles" class="spinner-calm"></ion-spinner>

		  <div class="row">
		  <div class="col"><button ng-click="setMode(0)" ng-class="{'button button-outline button-calm' : mode == 0, 'button button-outline button-stable':mode != 0}">自动模式</button></div>
		  <div class="col"><button ng-click="setMode(1)" ng-class="{'button button-outline button-calm' : mode == 1, 'button button-outline button-stable':mode != 1}">睡眠模式</button></div>
		  <div class="col"><button ng-click="setMode(2)" ng-class="{'button button-outline button-calm' : mode == 2, 'button button-outline button-stable':mode != 2}">手动模式</button></div>
		  </div>

		  
		  <div ng-if="mode == 2" class="range range-positive">
		  	<p>风量</p>
            <i class="icon ion-ios-minus-empty"></i>
            <input type="range" on-release="velocityControl(velocity)" ng-model="velocity" name="volume" min="0" max="5" value="2">
            <i class="icon ion-ios-plus-empty"></i>
          </div>
	  </div>
	</div>

  </ion-content>
