<ion-view view-title="QAir新风净化">
  <ion-content style="background-color:#FAFAFA">
     <div class="card">
	     <div class="row">
	     <div class="col col-25" style="text-align:center;color:#666666"><i class="icon ion-waterdrop calm"></i><br/>湿度<br/> 64%</div>
	     <div class="col col-25" style="text-align:center;color:#666666"><i class="icon ion-paper-airplane"></i><br/>风量<br/>100 m<sup>3</sup>/h</div>
	     <div class="col col-25" style="text-align:center;color:#666666"><i class="icon ion-leaf balanced"></i><br/>二氧化碳<br/> 424</div>
	     <div class="col col-25" style="text-align:center;color:#666666"><i class="icon ion-fireball assertive"></i><br/>辅热<br/> On</div>
	     </div>
     </div>  

	<div class="card">
		<highchart style="width:80%;height:30%" id="chart1" config="currentCompare"></highchart>
	</div>

	<div class="card">
		<highchart style="width:80%;height:30%" id="chart1" config="historyCompare"></highchart>
	</div>
  </ion-content>
</ion-view>
