<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-background-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="操作" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/{{deviceID}}/dash"  style="color:white">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="状态" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/{{deviceID}}/chats"  style="color:white">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="设备" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/{{deviceID}}/account"  style="color:white">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
