<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<title>果麦智能新风净化</title>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/css/fileinput.min.css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="../js/vipCode.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/js/locales/zh.min.js"></script>
</head>
<body>
<div id="unAuth" style="display:none" class="center-in-center">
<img alt="" src="../img/cry.png">
</div>

<div id="auth" style="display:none">
<div id="fileinput_wrp1" class="weui_uploader_input_wrp">
<input id="fileinput_id1" class="file" type="file" name="credit" accept="image/jpg,image/jpeg,image/png,image/gif" capture="camera"/>
</div>
<div style="margin:0 auto; width:90%; margin-top:10px">
<img id="generatePic" width="100%" alt="暂无图片" src="">
<p id="hint" style="display:none">【长按】上方图片，点击【保存】</p>
</div>

</div>
</body>
</html>