<ion-view view-title="QAir新风净化">
  <ion-content style="background-color:#FAFAFA">
	<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/mike.png">
	    <h2>{{ consumer.customerName }}</h2>
	    <p>积分 : 233</p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="img/QR.png">
	    <hr />
	    <p><i class="icon ion-person"></i> 姓名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ consumer.customerName }}</p>
	    <p><i class="icon ion-ios-home"></i> 地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ consumer.customerAddress }}</p>
	    <p><i class="icon ion-ios-telephone"></i> 联系方式 : {{ consumer.customerPhone }}</p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: #888888; color: #222222">
	    <a class="tab-item" href="#">
	      <i class="icon ion-settings"></i>
	      设置
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      分享
	    </a>
	  </div>

	</div>
  </ion-content>

     
	<ion-footer-bar align-title="left" class="bar-calm">
	  <div class="buttons">
	    <a class="button" href="#/home/vip">会员信息</a>
	  </div>
	  <div class="title"></div>
	  <div class="buttons">
	    <a class="button" href="#/mall">会员商城</a>
	  </div>
	</ion-footer-bar>
</ion-view>
