<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="render" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="${path.concat('/material/assets/css/minified/aui-production.min.css')}">
<link rel="stylesheet" href="${path.concat('/material/assets/themes/minified/agileui/color-schemes/layouts/default.min.css')}">
<link rel="stylesheet" href="${path.concat('/material/assets/themes/minified/agileui/color-schemes/elements/default.min.css')}">
<link rel="stylesheet" href="${path.concat('/material/assets/themes/minified/agileui/responsive.min.css')}">
<link rel="stylesheet" href="${path.concat('/material/assets/themes/minified/agileui/animations.min.css')}">
<link rel="stylesheet" href="${path.concat('/material/css/backend/custom.css')}"/>
<script type="text/javascript" src="${path.concat('/material/assets/js/minified/aui-production.min.js')}"></script>