<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="syncSchedule" class="schedule.QRSyncSchedule"></bean>
	
	<bean id="syncDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="syncSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
	</bean>
	
	<bean id="syncTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="syncDetail"></property>
        <property name="cronExpression">
            <value>38 14 * * * ?</value>
        </property>
    </bean>
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="syncTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>