<div id="page-main" xmlns="http://java.sun.com/jsf/html">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单录入
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单录入
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="col-md-12 center-margin">
            	<h4 style="display: inline">订单录入</h4>
                <a href="javascript:;" style="margin-left: 20px" class="white-modal-80 btn medium bg-blue" title="上传平台订单">
                    <span class="btn">上传平台订单</span>
                </a>
                <a href="javascript:;" style="margin-left: 20px" class="white-modal-60 btn medium bg-blue" title="上传团购订单">
                    <span class="btn">上传团购订单</span>
                </a>
				<div class="form-row" style="margin-top: 20px">
                    <div class="hide" id="white-modal-80" title="上传平台订单">
                        <div class="pad10A">
                            <div class="col-md-12 center-margin">
                                <div class="form-row">
                                    <div class="form-label col-md-2">
                                        <label for="goods-name">导入列表</label>
                                    </div>
                                    <div class="form-input col-md-10">
                                        <form id="order-form" method="post" enctype="multipart/form-data">
                                            <div class="form-row">
                                                <div class="form-input col-md-12">
                                                    <select id="order_batchupload_channel_list" name="orderChannel"><select/>
                                                </div>
                                            </div>
                                            <input id="orderFile" name="orderFile" type="file">
                                        </form>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn large bg-blue-alt ld ld-ext-right" id="confirm-upload">
                                        <span class="button-content">上传</span><i class="ld ld-ring ld-spin"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide" id="white-modal-60" title="上传团购订单">
                        <div class="pad10A">
                            <div class="col-md-12 center-margin">
                                <div class="form-row">
                                    <div class="form-label col-md-3">
                                        <label for="goods-name">导入列表</label>
                                    </div>
                                    <div class="form-input col-md-9">
                                        <form id="order-form" method="post" enctype="multipart/form-data">
                                            <input id="groupBuyingFile" name="groupBuyingFile" type="file">
                                        </form>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn large bg-blue-alt ld ld-ext-right" id="groupBuyingFile-confirm-upload">
                                        <span class="button-content">上传</span><i class="ld ld-ring ld-spin"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="form-row">
                    <label for="order_channel_list" class="form-label col-md-2">订单渠道</label>
                    <div class="form-input col-md-10">
                        <select id="order_diversion_list">
                        <select/>
                    </div>
                </div>
                <div class="form-row">
                    <label for="order_channel_list" class="form-label col-md-2">购买渠道</label>
                    <div class="form-input col-md-10">
                        <select id="order_channel_list">
                            <select/>
                    </div>
                </div>
            	<div class="form-row">
            		<label for="order-number" class="form-label col-md-2">
                        订单编号
                    </label>
            		<div class="form-input col-md-10">
            			<input id="order-number" type="text" required="required" placeholder="请输入订单编号"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-buyer" class="form-label col-md-2">
                        购买人
                    </label>
            		<div class="form-input col-md-10">
            			<input id="order-buyer" type="text" required="required" placeholder="请输入购买人姓名" />
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-price" class="form-label col-md-2">
                        订单价格
                    </label>
            		<div class="form-input col-md-10">
            			<input id="order-price" type="text" required="required" placeholder="请输入订单实付金额" />
            		</div>
            	</div> 
            	<div class="form-row">
            		<label for="order-receiver-name" class="form-label col-md-2">
                        收货人姓名
                    </label>
            		<div class="form-input col-md-10">
            			<input id="order-receiver-name" type="text" required = "required" placeholder="请输入收货人姓名" />
            		</div>
            	</div> 
            	<div class="form-row">
            		<label for="order-receiver-phone" class="form-label col-md-2">
                        收货人电话
                    </label>
            		<div class="form-input col-md-10">
            			<input id="order-receiver-phone" type="text" required="required" placeholder="请输入收货人电话"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-receiver-address" class="form-label col-md-2">
                        收货地址
                    </label>
                    <div class="form-input col-md-4 select" data-toggle="distpicker">
                        <select id="province" class="col-md-4" style="border-radius: 5px">
                            <option data-code="" data-text="—— 省 ——" value="">—— 省 ——</option>
                        </select>
                        <select id="city" class="col-md-3" style="border-radius: 5px">
                            <option data-code="" data-text="—— 市 ——" value="">—— 市 ——</option>
                        </select>
                        <select id="district" class="col-md-3" style="border-radius: 5px">
                            <option data-code="" data-text="—— 区 ——" value="">—— 区 ——</option>
                        </select>
                    </div>
                    <div class="form-input col-md-6">
                        <input id="order-receiver-address" type="text" required="required" placeholder="请输入详细地址"/>
                    </div>
            	</div>
            	<div class="form-row">
            		<label for="order-coupon" class="form-label col-md-2">优惠码</label>
            		<div class="form-input col-md-10">
            			<input id="order-coupon" type="text" placeholder="请输入优惠码" />
                     </div>
            	</div>
            	<div class="form-row">
            		<label for="pay-time" class="form-label col-md-2">下单时间</label>
            		<div class="form-input col-md-10">
            			<input id="pay-time" type="date" required="required" placeholder="请输入下单时间"/>
            		</div>
            	</div>
                <div class="form-row">
                    <label for="description" class="form-label col-md-2">订单备注</label>
                    <div class="form-input col-md-10">
                        <textarea id="description" style="height: 60px"> </textarea>
                    </div>
                </div>
                <hr />
                <div class="form-row" style="padding-top: 5px; margin-bottom: 5px">
                    <label for="order-goods" class="form-label col-md-2">商品清单</label>
                    <div class="col-md-10">
                        <div id="goodsContainer" data-commodityNum=1>
                            <div id="goods1" class="form-row" style="margin-left: 0px; margin-right: 0px">
                                <div class="form-input col-md-3" style="padding-left: 0px">
                                    <select id="goods-type1" onchange="typeChange(this.id)">
                                        <option>---请选择商品种类---</option>
                                        <option value="GUOMAI_XINFENG">果麦新风机</option>
                                        <option value="GUOMAI_SCREEN">果麦滤网</option>
                                        <option value="GUOMAI_OTHER">其他商品</option>
                                    </select>
                                </div>
                                <div class="form-input col-md-5" style="padding-left: 0px">
                                    <select id="goods-name1">
                                        <option>---请选择具体商品---</option>
                                    </select>
                                </div>
                                <label for="order-goods" class="form-label col-md-1">数量</label>
                                <div class="form-input col-md-2" style="padding-right: 0px">
                                    <input id="goods-number1" type="number" min="1" placeholder="请输入商品数量" value="1"/>
                                </div>
                                <button id="delGoods1" type="button" class="btn medium bg-red" style="float: right">删除</button>
                            </div>
                        </div>
                        <button id="goodsAdd" class="btn medium bg-blue" style="float: right; margin-top: 10px;">添加商品</button>
                    </div>
                </div>
                <hr />
            	<div class="form-row">
            		<button id="confirm-add" class="btn medium bg-blue" title="填写产品编号">
           				<span class="button-content">上传订单</span>
        			</button>
            	</div>
            </div>
        </div>
	</div>
</div>
<script>

    var commodities = {};
    var commodityTypeMap = {
        GUOMAI_OTHER: {name: '其他商品', value: 2},
        GUOMAI_SCREEN: {name: '滤网', value: 1},
        GUOMAI_XINFENG: {name: '果麦新风机', value: 0}
    };
    function createTypeSelect() {
        var typeSelect = document.createElement('select');
        var defaultOption = document.createElement('option');
        defaultOption.setAttribute('value', '');
        defaultOption.innerHTML = '---请选择商品种类---';
        typeSelect.append(defaultOption);
        for (type in commodityTypeMap) {
            var option = document.createElement('option');
            option.innerHTML = commodityTypeMap[type].name;
            option.setAttribute('value', type);
            typeSelect.append(option);
        }
        return typeSelect;
    }

    function initCommodityList() {
        var url = "${path.concat("/commodity/list")}"
        $.get(url, function (response) {
            if (response.responseCode == 'RESPONSE_OK') {
                var data = response.data;
                for (var i = 0; i < data.length; i++) {
                    commodities = response.data;
                }
            }
        })
    }

    initCommodityList();

	$(document).ready(function() {
		$("#confirm-add").click(function() {
			var order_no = $("#order-number").val();
			var order_buyer = $("#order-buyer").val();
			var order_price = $("#order-price").val();
			var province = $("#province").find(":selected").val();
			var city = $("#city").find(":selected").val();
			var district = $("#district").find(":selected").val();
			var receiver_name = $("#order-receiver-name").val();
			var receiver_phone = $("#order-receiver-phone").val();
			var receiver_address = $("#order-receiver-address").val();
			var order_coupon = $("#order-coupon").val();
			var order_channel = $("#order_channel_list").find(":selected").val();
			var order_diversion = $("#order_diversion_list").find(":selected").val();
			var pay_time = $("#pay-time").val()
            var order_status = $('#orderStatus').find(':selected').val();
			var description = $("#description").val();
			var url = "${path.concat('/order/create')}";
            if (!not_null(order_channel)) {alert("请填写订单渠道！"); return;}
			if (!not_null(order_no)) {alert("请填写订单编号！"); return;}
			if (!not_null(order_no)) {alert("请填写订单编号！"); return;}
			if (!not_null(order_price)) {
			    alert("请填写订单总价！");
			    return;
			} else {
                var result = parseFloat(order_price)
                if(isNaN(result)){
                    alert("请正确填写订单总价！");
                    return;
                }
            }
			if (!not_null(receiver_name)) {alert("请填写订单收货人！"); return;}
			if (!not_null(receiver_phone)) {alert("请填写订单收货人电话！"); return;}
			if (!not_null(receiver_address)) {alert("请填写订单收货人地址！"); return;}
			if (!not_null(pay_time)) {
                alert("请填写订单下单时间！");
                return;
			} else {
                try {
                    pay_time = new Date(pay_time).toISOString();
                } catch(err) {
                    alert("请正确填写订单下单时间！");
                    return;
                }
            }
			if (!not_null(province)) { alert("请选择省份!"); return;}
            if (!not_null(city)) {alert("请选择城市！"); return; }
            if (!not_null(district)) {alert("请选择地区！"); return;}
			var orderParams = {
			    orderNo: order_no, buyerName: order_buyer, orderPrice: order_price, receiverName: receiver_name,
                receiverPhone: receiver_phone, province: province, city: city, district: district,
                receiverAddress: receiver_address, orderCoupon: order_coupon, orderStatus: order_status,
                orderChannel: order_channel, orderDiversion: order_diversion, description: description, orderTime: pay_time
            }
            var commodityParams = {orderId: order_no, commodities: []};
            var commodityCount = Number(document.getElementById('goodsContainer').getAttribute('data-commodityNum'));
		    for (var i = 0; i <= commodityCount; i++) {
                var goods = document.getElementById('goods' + i);
                if (not_null(goods)) {

                    var goods_id = $('#goods-name' + i).find(":selected").val();
                    var goods_type = $('#goods-type' + i).find(":selected").val();
                    if (!not_null(goods_id)) {
                        alert("请正确填写商品名称！");
                    }
                    if (!not_null(goods_type)) {
                        alert("请正确填写商品类型！");
                    }
                    var goods_number = document.getElementById('goods-number' + i).value;
                    commodityParams.commodities.push(
                        {commodityId: goods_id, commodityQuantity: goods_number})
                }
            }

			$.post(url, orderParams, function(response) {
			    if (response.responseCode == 'RESPONSE_OK') {
                    commodityParams.orderId = response.data.orderId;
                    $.ajax({
                        url: "${path.concat('/order/orderItem/create')}",
                        type: 'POST',
                        data: JSON.stringify(commodityParams),
                        contentType: 'application/json; charset=utf-8'
                    });
                }
				window.location.href = "${path.concat('/order/overview')}";
			})
		});
	});

    $("#confirm-upload").on('click', function() {
        $("#confirm-upload").addClass('running');
        var data = new FormData();
        data.append("orderFile", $("#orderFile")[0].files[0]);
        data.append("orderChannel", $("#order_batchupload_channel_list").find(":selected").val());
        jQuery.ajax({
            url: "${path.concat('/order/upload')}",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(data){
                if (data.responseCode === 'RESPONSE_OK') {
                    location.href = "${path.concat('/order/overview')}";
                } else {
                    $("#confirm-upload").removeClass('running')
                    alert("上传失败");
                }
            },
            error: function () {
                $("#confirm-upload").removeClass('running')
                alert("上传失败");
            }
        });
    });

    $("#groupBuyingFile-confirm-upload").on('click', function() {
        $("#groupBuyingFile-confirm-upload").addClass('running');
        var data = new FormData();
        data.append("groupBuyingFile", $("#groupBuyingFile")[0].files[0]);
        jQuery.ajax({
            url: "${path.concat('/order/groupBuyingUpload')}",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(data){
                location.href = "${path.concat('/order/overview')}";
            },
            error: function () {
                alert("上传失败");
                $("#groupBuyingFile-confirm-upload").removeClass('running');
            }
        });
    });
    
    $("#goodsAdd").on('click', function () {
        var goodsContainer = document.getElementById('goodsContainer');
        var index = Number(goodsContainer.getAttribute('data-commodityNum')) + 1;
        goodsContainer.setAttribute('data-commodityNum', index);
        var divRow = document.createElement('div');
        divRow.className = 'form-row';
        divRow.style = 'margin-left: 0px; margin-right: 0px';
        divRow.setAttribute('id', 'goods' + index);

        //col-md-3
        var goodsTypeDiv = document.createElement('div');
        goodsTypeDiv.className = 'form-input col-md-3';
        goodsTypeDiv.style = 'padding-left: 0px';
        var goodsTypeSelect = createTypeSelect();
        goodsTypeSelect.setAttribute('id', 'goods-type' + index);
        goodsTypeSelect.addEventListener('change', function() {typeChange('goods-type' + index)}, false);
        goodsTypeDiv.appendChild(goodsTypeSelect);

        //col-md-5
        var goodsDiv = document.createElement('div');
        goodsDiv.className = 'form-input col-md-5';
        goodsDiv.style = 'padding-left: 0px';
        var goodsSelect = document.createElement('select');
        var defaultOption = document.createElement('option');
        defaultOption.setAttribute('value', '');
        defaultOption.innerHTML = '---请选择具体商品---';
        goodsSelect.appendChild(defaultOption);
        goodsSelect.setAttribute('id', 'goods-name' + index);
        goodsDiv.appendChild(goodsSelect);

        //col-md-1
        var label = document.createElement('label');
        label.innerHTML = '数量';
        label.className = 'form-label col-md-1';

        //col-md-2
        var numDiv = document.createElement('div');
        numDiv.className = 'form-input col-md-2';
        numDiv.style = 'padding-right: 0px';
        var numInput = document.createElement('input');
        numInput.setAttribute('id', 'goods-number' + index);
        numInput.setAttribute('type', 'number');
        numInput.setAttribute('min', 1);
        numInput.setAttribute('placeholder', '请输入商品数量');
        numDiv.appendChild(numInput);

        //col-md-1
        var delButton = document.createElement('button');
        delButton.className = 'btn medium bg-red';
        delButton.style = 'float: right';
        delButton.innerHTML = '删除';
        delButton.setAttribute('id', 'delGoods' + index);
        delButton.addEventListener('click', function () {
            document.getElementById('goodsContainer').removeChild(document.getElementById('goods' + index));
        });

        //add these into div row
        divRow.appendChild(goodsTypeDiv);
        divRow.appendChild(goodsDiv);
        divRow.appendChild(label);
        divRow.appendChild(numDiv);
        divRow.appendChild(delButton);

        goodsContainer.appendChild(divRow);
    });

    $("#addOrderChannel").on('click', function () {
		var channel = $("#channelName").val();
		if (channel === '') {
		    alert("输入不能为空");
		    return;
        }
		var url = "${path.concat('/order/orderchannel/create')}";
		$.post(url, {ChannelName: channel}, function (result) {
		    if (result.responseCode === 'RESPONSE_OK') {
                window.location.href = "${path.concat('/order/create')}";
            }
        });
    });

    function typeChange(goods_type_id) {
        var goods_type = $('#' + goods_type_id).find(":selected").val();
        var goods_name_id = goods_type_id.replace('goods-type', 'goods-name');
        $('#' + goods_name_id).empty();
        var defaultOption = $('<option></option>').val("").text('---请选择具体商品---');
        $('#' + goods_name_id).append(defaultOption);
        for (var i = 0; i < commodities.length; i++) {
            if (goods_type == commodities[i].type) {
                var option = $('<option></option>').val(commodities[i].commodityId).text(commodities[i].commodityName);
                $('#' + goods_name_id).append(option);
            }
        }
    }

    function order_channel_reset() {
        $("#order_batchupload_channel_list").empty();
        $("#order_batchupload_channel_list").append($("<option value=''></option>").text("---请选择购买渠道---"));
        $("#order_channel_list").empty();
        $("#order_channel_list").append($("<option value=''></option>").text("---请选择购买渠道---"));
        var channel_url = "${path.concat('/order/orderChannel/list')}";
        $.get(channel_url, function(result) {
            if(result.responseCode == "RESPONSE_OK") {
                var data = result.data;
                for(index in data) {
                    $("#order_batchupload_channel_list").append($("<option></option>").text(data[index].channelName).val(data[index].channelId));
                    $("#order_channel_list").append($("<option></option>").text(data[index].channelName).val(data[index].channelId));
                }
            }
        })
    };

    function order_diversion_reset() {
        $("#order_diversion_list").empty();
        $("#order_diversion_list").append($("<option value=''></option>").text("----请选择订单渠道---"))
        var diversion_url = "${path.concat('/order/diversion/list')}";
        $.get(diversion_url, function (response) {
            if(response.responseCode == "RESPONSE_OK") {
                var data = response.data;
                for(index in data) {
                    var item = $("<option></option>").text(data[index].diversionName);
                    item.attr("value", data[index].diversionId);
                    $("#order_diversion_list").append(item);
                }
            }
        })
    }
    order_diversion_reset();
    order_channel_reset();
    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>