<div id="page-main">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单录入
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单录入
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="col-md-12 center-margin">
            	<h4>订单录入</h4>
				<div class="form-row" style="margin-top: 20px">
                    <div class="infobox warning-bg" style="margin-bottom: 0px">
                        <p><i class="glyph-icon icon-exclamation mrg10R"></i> 批量上传订单，请单击这里进行 <a href="javascript:;" class="white-modal-80" title="添加部件"> 上传订单 </a>.</p>
                    </div>
                    <div class="hide" id="white-modal-80" title="添加型号">
                        <div class="pad10A">
                            <div class="col-md-12 center-margin">
                                <div class="form-row">
                                    <div class="form-label col-md-2">
                                        <label for="goods-name">导入列表</label>
                                    </div>
                                    <div class="form-input col-md-10">
                                        <form id="order-form">
                                            <input name="orderFile" type="file">
                                        </form>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn medium bg-blue-alt" id="confirm-upload">
                                        <span class="button-content">上传</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            	<div class="form-row">
            		<label for="order-number" class="form-label col-md-2">订单编号</label>
            		<div class="form-input col-md-10">
            			<input id="order-number" type="text" placeholder="请输入订单编号"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-buyer" class="form-label col-md-2">购买人</label>
            		<div class="form-input col-md-10">
            			<input id="order-buyer" type="text" placeholder="请输入购买人姓名" />
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-price" class="form-label col-md-2">订单价格</label>
            		<div class="form-input col-md-10">
            			<input id="order-price" type="text" placeholder="请输入订单实付金额" />
            		</div>
            	</div> 
            	<div class="form-row">
            		<label for="order-receiver-name" class="form-label col-md-2">收货人姓名</label>
            		<div class="form-input col-md-10">
            			<input id="order-receiver-name" type="text" placeholder="请输入收货人姓名"/>
            		</div>
            	</div> 
            	<div class="form-row">
            		<label for="order-receiver-phone" class="form-label col-md-2">收货人电话</label>
            		<div class="form-input col-md-10">
            			<input id="order-receiver-phone" type="text" placeholder="请输入收货人电话"／>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-receiver-address" class="form-label col-md-2">收货地址</label>
            		<div class="form-input col-md-10">
            			<input id="order-receiver-address" type="text" placeholder="请输入收货地址"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="order-coupon" class="form-label col-md-2">优惠码</label>
            		<div class="form-input col-md-10">
            			<input id="order-coupon" type="text" placeholder="请输入优惠码" />
                     </div>
            	</div>
            	<div class="form-row">
            		<label for="order-goods" class="form-label col-md-2">购买商品</label>
            		<div class="form-input col-md-10">
            			<input id="order-goods" type="text" placeholder="请输入商品名称"/>
            		</div>
            	</div>
				<div class="form-row">
            		<label for="order-channel" class="form-label col-md-2">订单渠道</label>
            		<div class="form-input col-md-10">
            			<input id="order-channel" type="text" placeholder="请输入订单渠道"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="pay-time" class="form-label col-md-2">付款时间</label>
            		<div class="form-input col-md-10">
            			<input id="pay-time" type="text" placeholder="请输入付款时间"/>
            		</div>
            	</div>
            	<div class="form-row">
            		<label for="description" class="form-label col-md-2">订单备注</label>
            		<div class="form-input col-md-10">
            			<input id="description" type="text" placeholder="请输入订单备注"/>
            		</div>
            	</div>
            	<hr />
            	<div class="form-row">
            		<button id="confirm-add" class="btn medium bg-blue" title="填写产品编号">
           				<span class="button-content">添加</span>
        			</button>
            	</div>
            </div>
        </div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#confirm-add").click(function() {
			var order_no = $("#order-number").val();
			var order_buyer = $("#order-buyer").val();
			var order_price = $("#order-price").val();
			var receiver_name = $("#order-receiver-name").val();
			var receiver_phone = $("#order-receiver-phone").val();
			var receiver_address = $("#order-receiver-address").val();
			var order_coupon = $("#order-coupon").val();
			var goods_name = $("#order-goods").val();
			var order_channel = $("#order-channel").val();
			var pay_time = $("#pay-time").val();
			var description = $("#description").val();
			var url = "${path.concat('/order/create')}";
			$.post(url, {orderNo: order_no, orderBuyer: order_buyer, orderPrice: order_price, receiverName: receiver_name, receiverPhone: receiver_phone, receiverAddress: receiver_address, orderCoupon: order_coupon, goodsName: goods_name, orderChannel: order_channel, payTime: pay_time, description: description}, function(result) {
				window.location.href = "${path.concat('/order/overview')}";
			})
		});
	});

    $("#confirm-upload").on('click', function() {
        $("#order-form").attr('action', "${path.concat('/order/BatchUpload')}");
        $("#order-form").attr('method', "post");
        $("#order-form").attr('enctype', 'multipart/form-data');
        $("#order-form").submit();
    });

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>