<div id="page-main">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单详情
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单详情
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="col-md-12 center-margin">
            	<h4>订单详情</h4>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单编号</div>
            		<div class="form-input col-md-10">${order.orderNo}</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">购买人</div>
            		<div class="form-input col-md-10">
                        <input id="buyerName" type="text" value="${order.buyerName}"/>
                    </div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">收货人</div>
            		<div class="form-input col-md-10">
                        <input id="receiverName" type="text" value="${order.receiverName}"/>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">收货人手机</div>
                    <div class="form-input col-md-10">
                        <input id="receiverPhone" type="text" value="${order.receiverPhone}"/>
                    </div>
                </div>
            	<div class="form-row">
                    <div class="form-label col-md-2">收货人地址</div>
                    <div class="form-input col-md-4 select" data-toggle="distpicker">
                        #if(${order.province})
                            <select id="province" class="col-md-4" data-province="${order.province}" style="border-radius: 5px">
                                <option data-code="" data-text="—— 省 ——">—— 省 ——</option>
                            </select>
                        #else
                            <select id="province" class="col-md-4" style="border-radius: 5px">
                                <option data-code="" data-text="—— 省 ——" value="">—— 省 ——</option>
                            </select>
                        #end
                        #if(${order.city})
                            <select id="city" class="col-md-3" style="border-radius: 5px" data-city="${order.city}">
                                <option data-code="" data-text="—— 市 ——" value="${order.city}">—— 市 ——</option>
                            </select>
                        #else
                            <select id="city" class="col-md-3" style="border-radius: 5px">
                                <option data-code="" data-text="—— 市 ——" value="">—— 市 ——</option>
                            </select>
                        #end
                        #if(${order.district})
                            <select id="district" class="col-md-3" style="border-radius: 5px" data-district="${order.district}">
                                <option data-code="" data-text="—— 区 ——" value="${order.district}">—— 区 ——</option>
                            </select>
                        #else
                            <select id="district" class="col-md-3" style="border-radius: 5px">
                                <option data-code="" data-text="—— 区 ——" value="">—— 区 ——</option>
                            </select>
                        #end
                    </div>
                    <div class="form-input col-md-6">
                        <input id="receiverAddress" type="text" value="${order.receiverAddress}"/>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">优惠码</div>
                    <div class="form-input col-md-10">
                        #if(${order.orderCoupon})
                            <input id="orderCoupon" type="text" value="${order.orderCoupon}">
                        #else
                            <input id="orderCoupon" type="text" value="">
                        #end
                    </div>
                </div>
            	<div class="form-row">
            		<div class="form-label col-md-2">购买商品</div>
                    <div class="form-input col-md-10" id="goods-container" data-commodity-number="${order.commodityList.size()}">
                        <table class="table table-condensed">
                            <thead style="background-color: #e4e9f0">
                                <tr>
                                    <td>商品种类</td>
                                    <td>商品名称</td>
                                    <td>商品数量</td>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($commodity in ${order.commodityList})
                                <tr>
                                    <td>
                                        #if(${commodity.commodityType} == '0')
                                            果麦新风机
                                        #elseif(${commodity.commodityType} == '1')
                                            果麦滤网
                                        #else
                                            其他商品
                                        #end
                                    </td>
                                    <td>${commodity.commodityName}</td>
                                    <td>${commodity.commodityQuantity}</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">付款时间</div>
            		<div class="form-input col-md-10">
                        <input id="orderTime" type="date" value="${orderTime}">
                    </div>
            	</div>
				<div class="form-row">
            		<div class="form-label col-md-2">购买渠道</div>
            		<div class="form-input col-md-10">
                        <select id="order_channel_list">
                            <option>${order.orderChannel}</option>
                        </select>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">订单渠道</div>
                    <div class="form-input col-md-10">
                        <select id="order_diversion_list">
                            #if(${order.orderDiversion})
                                <option>${order.orderDiversion}</option>
                            #else
                                <option value="">---请选择渠道---</option>
                            #end
                        </select>
                    </div>
                </div>
                #if(${order.shipNo} && !${order.shipNo.trim().equals("")})
                    <div class="form-row">
                        <div class="form-label col-md-2">物流单号</div>
                        <div class="form-input col-md-10">
                            ${order.shipNo}
                        </div>
                    </div>
                #end
                <div class="form-row">
                    <div class="form-label col-md-2">待处理机器</div>
                    <div class="form-input col-md-10" id="order-machine">
                        <table id="machine-list-table" class="table table-condensed"></table>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label col-md-2">订单备注</div>
                    <div class="form-input col-md-10">
                        <textarea id="orderDescription" type="text">
                            #if(${order.description})
                                ${order.description.trim()}
                            #else

                            #end
                        </textarea>
                    </div>
                </div>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单状态</div>
            		<div class="form-input col-md-10">
            			#if(${order.orderStatus} == "PAYED")
            				待发货
            			#elseif(${order.orderStatus} == "SHIPPED")
            				已发货(订单处理中)
            			#elseif(${order.orderStatus} == "INSTALLING")
            				订单处理中
            			#elseif(${order.orderStatus} == "SUCCEED")
            				已关闭
            			#elseif(${order.orderStatus} == "REFUNDED")
            				已取消
            			#end
            		</div>
            	</div>
                <div class="form-row">
                    <button id = "updateOrder" class="btn medium bg-blue" style="margin-left: 15px">更新订单信息</button>
                    <a href="javascript:;" class="btn medium bg-blue black-modal-80" title="添加订单进度记录">
                        <span class="button-content">添加订单事件</span>
                    </a>
                    <div class="hide" id="black-modal-80" title="新增订单事件">
                        <div class="pad10A">
                            <div class="col-md-12 center-margin">
                                <div class="form-row">
                                    <div class="form-label col-md-3">
                                        <label for="order-mission-name">事件名称</label>
                                    </div>
                                    <div class="form-input col-md-9">
                                        <input id="order-mission-name" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label col-md-3">
                                        <label for="order-mission-content" autocomplete="off">事件详情</label>
                                    </div>
                                    <div class="form-input col-md-9">
                                        <textarea id="order-mission-content" type="text" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn medium bg-blue-alt" id="order-confirm-event">
                                        <span class="button-content">新增</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            	#if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING" || ${order.orderStatus} == "SUCCEED")
            	<hr />
        		#if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING")
        		<a id="order-complete" class="btn medium bg-green">
           			<span class="button-content">订单完成</span>
        		</a>
        		#end
        		#elseif(${order.orderStatus} == "PAYED")
        		<hr />
            	<div class="form-row">
            		<a class="btn medium bg-blue white-modal-80" title="发货">
           				<span class="button-content">发货</span>
        			</a>
        			<a id="order-cancel" class="btn medium bg-red">
           				<span class="button-content">订单取消</span>
        			</a>
        			<a id="order-complete" class="btn medium bg-green">
	           			<span class="button-content">订单完成</span>
	        		</a>
            	</div>
            	#end
                <div id="mission-area" style="display: none">
                    <h4>订单进度</h4>
                </div>
            </div>
            #if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING" || ${order.orderStatus} == "SUCCEED")
            #elseif(${order.orderStatus} == "PAYED")
            <div class="hide" id="white-modal-80" title="填写产品编号">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="goods-name" autocomplete="off">物流单号</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="shipment-no" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="confirm-deliver">
                                <span class="button-content">发货</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            #end
        </div>
	</div>
</div>
<script>
    var uploadList = [];
    var uploadFilePathList = [];

    function convertOrderStatus(status){
        var convertResult;
        switch(status) {
            case 'NOT_PAYED' : convertResult = 0; break;
            case 'PAYED': convertResult = 1; break;
            case 'SHIPPED': convertResult = 2; break;
            case 'RECEIVED': convertResult = 3; break;
            case 'INSTALLING': convertResult = 4; break;
            case 'SUCCEED': convertResult = 5; break;
            case 'EXCHANGED': convertResult = 6; break;
            case 'REFUNDING': convertResult = 7; break;
            case 'REFUNDED': convertResult = 8; break;
            case 'CLOSED': convertResult = 9; break;
            default: convertResult = 1; break;
        }
        return convertResult;
    }

	$(document).ready(function() {
        function init_order_mission() {
            var orderId = "${order.orderId}";
            var fetch_mission_url = "${path.concat('/order/')}" + orderId + "/mission";
            $.get(fetch_mission_url, function(result) {
                if(result.responseCode == "RESPONSE_OK") {
                    var missions = result.data;
                    if (missions.length > 0) {
                        $("#mission-area").css("display", "block");
                    }
                    for(var i = 0; i < missions.length; i ++) {
                        var missionDate = formatDateTime(new Date(missions[i].createTime));
                        var dateSpan = $('<span style="margin-right: 30px; float: right"></span>').text(missionDate);
                        var row = $("<div class='row'></div>");
                        var content_box = $("<div class='content-box'></div>");
                        var head = $("<h3 class='content-box-header bg-gray-alt'></h3>");
                        var separator = $("<div class='glyph-icon icon-separator'>");
                        var comment = $("<i class='glyph-icon icon-comments'></i>");
                        var span = $("<span></span>").text(missions[i].missionRecorder);
                        var float_right = $("<div class='glyph-icon icon-separator transparent float-right'></div>")
//	            				var icon_comment = $("<i class='glyph-icon icon-comments'></i>");
//	            				float_right.append(icon_comment);
                        separator.append(comment);
                        head.append(separator);
                        head.append(span);
                        head.append(float_right);
                        head.append(dateSpan);
                        content_box.append(head);
                        var wrapper = $("<div class='content-box-wrapper' style='font-size: 15px; line-height: 1.4; overflow: hidden'></div>");
                        var missionTitle = $("<div class='col-md-2' style='font-weight: bold;'></div>").text(missions[i].missionTitle + ':');
                        var missionContent = $("<div class='col-md-10'></div>").text(missions[i].missionContent);
                        wrapper.append(missionTitle);
                        wrapper.append(missionContent);
                        content_box.append(wrapper);
                        row.append(content_box);
                        $("#mission-area").append(row);
                    }
                }
            });
        }
	    function init_order_machine() {
            var order_machine_url = "${path.concat('/order/orderMachine/detail?orderId=')}" + "${order.orderId}";
            $.get(order_machine_url, function (response) {
                var table_header = $('<thead></thead>');
                var thead_content = $('<tr><td>机器编号</td><td>安装商</td><td>安装方式</td><td>二维码</td><td>机器状态</td><td>详情</td></tr>')
                table_header.append(thead_content);
                table_header.css("background-color", '#e4e9f0')
                if (response.responseCode == 'RESPONSE_OK') {
                    var tbody = $('<tbody></tbody>');
                    var data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        var provider = not_null(data[i].providerName) ? data[i].providerName : '未指派';
                        var installType = not_null(data[i].installType) ? data[i].installType : '未知';
                        var machineCode = not_null(data[i].machineCode) ? data[i].machineCode : '未知';
                        var machineStaus;
                        if (data[i].machineMissionStatus == 'PRE_SURVEY') {
                            machineStaus = '待勘测';
                        } else if (data[i].machineMissionStatus == 'SURVEYED') {
                            machineStaus = '已勘测';
                        } else if (data[i].machineMissionStatus == 'SHIPPING') {
                            machineStaus = '待安装';
                        } else if (data[i].machineMissionStatus == 'SHIPPED' || data[i].machineMissionStatus == 'NEGOTIATE_INSTALL') {
                            machineStaus = '待安装';
                        } else if (data[i].machineMissionStatus == 'INSTALLED') {
                            machineStaus = '安装完成';
                        } else if (data[i].machineMissionStatus == 'INSTALL_CANCEL') {
                            machineStaus = '安装取消';
                        } else {
                            machineStaus = '未知';
                        }
                        var machine_tr = $('<tr><td>' + i +  '</td><td>' + provider + '</td><td>' + installType +
                                        '</td><td>' + machineCode + '</td><td>' + machineStaus + '</td><td>' +
                                        "<a href='" + "${path.concat('/order/machine/item/')}" + data[i].machineId +
                                        "'class='btn small bg-blue-alt tooltip-button' data-placement='top' ><i class='glyph-icon icon-arrow-right'></i></a>"
                                        +'</td></tr>');
                        tbody.append(machine_tr);
                    }
                    $("#machine-list-table").append(table_header);
                    $("#machine-list-table").append(tbody);
                } else {

                }
            });
        }
        init_order_mission()
        init_order_machine();

		$("#confirm-deliver").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/deliver";
			var product_serial = $("#product-serial").val();
			var ship_no = $("#shipment-no").val();
			$.post(url, {productSerial: product_serial, shipNo: ship_no}, function(result) {
				if(result.responseCode == "RESPONSE_OK") {
					window.location.href = "${path.concat('/order/')}" + "${order.orderId}"; 
				}else {
					alert("发货失败");
				}
			});
		})

		$("#order-confirm-event").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/mission/create";
			var mission_title = $("#order-mission-name").val();
			var mission_content = $("#order-mission-content").val();
			var filepath = uploadFilePathList.join(";");

			if (!not_null(mission_title)) {
			    alert("请选择事件类型!");
			    return;
            }

			var mission_params = {
			    missionTitle: mission_title, missionContent: mission_content,
			};

			$.post(url, mission_params, function(result) {
				location.reload();
			})
		});
		
		$("#order-complete").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/complete";
			$.post(url, function(result) {
				location.reload();
			})
		});
		
		$("#order-cancel").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/cancel";
			$.post(url, function(result) {
				location.reload();
			})
		});

        $("#updateOrder").on('click', function () {
            var url = "${path.concat('/order/')}" + "${order.orderId}" + "/update";
            var buyerName = $('#buyerName').val();
            var buyerAccount = $('#buyerAccount').val();
            var receiverName = $('#receiverName').val();
            var receiverPhone = $('#receiverPhone').val();
            var province = $('#province').find(":selected").val();
            var city = $('#city').find(":selected").val();
            var district = $('#district').find(":selected").val();
            var receiverAddress = $('#receiverAddress').val();
            var orderCoupon = $('#orderCoupon').val();
            var orderTime = new Date($('#orderTime').val()).toISOString();
            var orderChannel = $('#order_channel_list').find(":selected").val();
            var orderDiversion = $('#order_diversion_list').find(":selected").val();
            var description = $('#orderDescription').val();
            var params =
                    {
                        buyerName: buyerName, buyerAcccount: buyerAccount, receiverName: receiverName,
                        receiverPhone: receiverPhone, province: province, city: city, district: district,
                        receiverAddress: receiverAddress, orderCoupon: orderCoupon, orderTime: orderTime,
                        orderChannel: orderChannel, orderDiversion: orderDiversion, description: description,
                        orderStatus: convertOrderStatus("${order.orderStatus}")
                    };
            if (!not_null(orderDiversion)) {
                delete params.orderDiversion;
            }
            if (!not_null(province)) {
                delete params.province;
            }
            if (!not_null(city)) {
                delete params.city;
            }
            if (!not_null(district)) {
                delete params.district;
            }
            $.post(url, params, function (result) {
                window.location.href = "${path.concat('/order/').concat("${order.orderId}")}";
            });
        })
	});
	
	function orderChannelReset() {
        var url = "${path.concat('/order/orderChannel/list')}";
        var currentChannel = $('#order_channel_list').find(":selected");
        var orderChannelList = $('#order_channel_list');
        $.get(url, function (result) {
            if (result.responseCode = 'RESPONSE_OK') {
                var channel_data = result.data;
                for (var index in channel_data) {
                    if (currentChannel.text() === channel_data[index].channelName) {
                        currentChannel.val(channel_data[index].channelId);
                        continue;
                    }
                    var option = $("<option></option>").val(channel_data[index].channelId).text(channel_data[index].channelName);
                    orderChannelList.append(option);
                }
            }
        });
    }

    function orderDiversionReset() {
        var url = "${path.concat('/order/diversion/list')}";
        var currentDiversion = $('#order_diversion_list').find(":selected");
        var orderDiversionList = $('#order_diversion_list');
        $.get(url, function (result) {
            if (result.responseCode = 'RESPONSE_OK') {
                var channel_data = result.data;
                for (var index in channel_data) {
                    if (currentDiversion.text() === channel_data[index].diversionName) {
                        currentDiversion.val(channel_data[index].diversionId);
                        continue;
                    }
                    var option = $("<option></option>").val(channel_data[index].diversionId).text(channel_data[index].diversionName);
                    orderDiversionList.append(option);
                }
            }
        });
    }

    orderChannelReset();
    orderDiversionReset();

    function formatDateTime(date) {
        var year = date.getFullYear().toString();
        var month = ("0" + (date.getMonth() + 1).toString()).slice(-2).toString();
        var day = ("0" + date.getDate().toString()).slice(-2).toString();
        var hour = ("0" + date.getHours().toString()).slice(-2).toString();
        var minute = ("0" + date.getMinutes().toString()).slice(-2).toString();
        var seconds = ("0" + date.getSeconds().toString()).slice(-2).toString();

        return year + '/' + month + '/' + day + ' ' + hour + ':' + minute + ':' + seconds;
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }

</script>