<div id="page-main">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单详情
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单详情
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="col-md-12 center-margin">
            	<h4>订单详情</h4>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单编号</div>
            		<div class="form-input col-md-10">${order.orderNo}</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">购买人</div>
            		<div class="form-input col-md-10">
                        <input id="buyerName" type="text" value="${order.buyerName}"/>
                    </div>
            	</div> 
            	<div class="form-row">
            		<div class="form-label col-md-2">交易帐号</div>
            		<div class="form-input col-md-10">
                        #if(${order.buyerAccount})
                            <input id="buyerAccount" type="text" value="${order.buyerAccount}"/>
                        #else
                            <input id="buyerAccount" type="text" value="无账号"/>
                        #end
                    </div>
            	</div> 
            	<div class="form-row">
            		<div class="form-label col-md-2">收货人</div>
            		<div class="form-input col-md-10">
                        <input id="receiverName" type="text" value="${order.receiverName}"/>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">收货人手机</div>
                    <div class="form-input col-md-10">
                        <input id="receiverPhone" type="text" value="${order.receiverPhone}"/>
                    </div>
                </div>
            	<div class="form-row">
                    <div class="form-label col-md-2">收货人地址</div>
                    <div class="form-input col-md-4 select" data-toggle="distpicker">
                        <select id="province" class="col-md-4" data-province="${order.province}" style="border-radius: 5px">
                            <option data-code="" data-text="—— 省 ——">—— 省 ——</option>
                        </select>
                        <select id="city" class="col-md-3" style="border-radius: 5px" data-city="${order.city}">
                            <option data-code="" data-text="—— 市 ——" value="${order.city}">—— 市 ——</option>
                        </select>
                        <select id="district" class="col-md-3" style="border-radius: 5px" data-district="${order.district}">
                            <option data-code="" data-text="—— 区 ——" value="${order.district}">—— 区 ——</option>
                        </select>
                    </div>
                    <div class="form-input col-md-6">
                        <input id="receiverAddress" type="text" value="${order.receiverAddress}"/>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">优惠码</div>
                    <div class="form-input col-md-10">
                        <input id="orderCoupon" type="text" value="${order.orderCoupon}">
                    </div>
                </div>
            	<div class="form-row">
            		<div class="form-label col-md-2">购买商品</div>
                    <div class="form-input col-md-10" id="goods-container" data-commodity-number="${order.commodityList.size()}">
                        #foreach($commodity in ${order.commodityList})
                            <div class="form-row" style="margin-left: 0px; margin-right: 0px" id="commodity$velocityCount" data-commodityId="${commodity.commodityId}">
                                <div class="form-input col-md-5" style="padding-left: 0px">
                                    <input id="order-goods$velocityCount" type="text" value="${commodity.commodityName}"/>
                                </div>
                                <label for="order-goods" class="form-label col-md-1">数量</label>
                                <div class="form-input col-md-1" style="padding-right: 0px">
                                    <input id="goods-number$velocityCount" type="number" min="1"  value="${commodity.commodityQuantity}"/>
                                </div>
                                <label for="order-goods" class="form-label col-md-1" style="padding-right: 0px">二维码</label>
                                <div class="form-input col-md-2" style="padding-right: 0px">
                                    #if(${commodity.commodityQrcode})
                                        <input id="goods-qrcode$velocityCount" type="text"  value="${commodity.commodityQrcode}"/>
                                    #else
                                        <input id="goods-qrcode$velocityCount" type="text"/>
                                    #end
                                </div>
                                <button id="delGoods$velocityCount" class="btn medium bg-red" style="float: right" onclick="commodityDel(this.id)">删除</button>
                                #if(${commodity.commodityQrcode} != "")
                                    <a href="${path.concat("/order/")}${order.orderId}/${commodity.commodityQrcode}" class="btn medium bg-blue" style="float: right; margin-right: 10px">
                                        <i class="glyph-icon icon-arrow-right"></i>
                                    </a>
                                #end
                            </div>
                        #end
                    </div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">付款时间</div>
            		<div class="form-input col-md-10">
                        <input id="orderTime" type="date" value="${orderTime}">
                    </div>
            	</div>
				<div class="form-row">
            		<div class="form-label col-md-2">订单渠道</div>
            		<div class="form-input col-md-10">
                        <select id="order_channel_list">
                            <option>${order.orderChannel}</option>
                        </select>
                    </div>
            	</div>
                <div class="form-row">
                    <div class="form-label col-md-2">订单备注</div>
                    <div class="form-input col-md-10">
                        <textarea id="orderDescription" type="text">${order.description} </textarea>
                    </div>
                </div>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单状态</div>
            		<div class="form-input col-md-10">
            			#if(${order.orderStatus} == "PAYED")
            				待发货
            			#elseif(${order.orderStatus} == "SHIPPED")
            				已发货
            			#elseif(${order.orderStatus} == "INSTALLING")
            				安装中
            			#elseif(${order.orderStatus} == "SUCCEED")
            				已关闭
            			#elseif(${order.orderStatus} == "REFUNDED")
            				已取消
            			#end
            		</div>
            	</div>
                <div class="form-row">
                    <button id = "updateOrder" class="btn medium bg-blue" style="margin-left: 15px">更新订单信息</button>
                </div>
            	#if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING" || ${order.orderStatus} == "SUCCEED")
            	<hr />
            	<h4>订单进度</h4>
            	<div id="mission-area"></div>
            	<a href="javascript:;" class="btn medium bg-blue white-modal-60" title="添加订单进度记录">
           			<span class="button-content">添加安装事件</span>
        		</a>
                <a href="javascript:;" class="btn medium bg-blue white-modal-80" title="添加订单进度记录">
                    <span class="button-content">添加订单事件</span>
                </a>
        		#if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING")
        		<a id="order-complete" class="btn medium bg-green">
           			<span class="button-content">订单完成</span>
        		</a>
        		#end
        		#elseif(${order.orderStatus} == "PAYED")
        		<hr />
            	<div class="form-row">
            		<a class="btn medium bg-blue white-modal-80" title="发货">
           				<span class="button-content">发货</span>
        			</a>
        			<a id="order-cancel" class="btn medium bg-red">
           				<span class="button-content">订单取消</span>
        			</a>
        			<a id="order-complete" class="btn medium bg-green">
	           			<span class="button-content">订单完成</span>
	        		</a>
            	</div>
            	#end
            </div>
            #if(${order.orderStatus} == "SHIPPED" || ${order.orderStatus} == "INSTALLING" || ${order.orderStatus} == "SUCCEED")
            <div class="hide" id="white-modal-80" title="新增订单事件">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="order-mission-name">事件名称</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="order-mission-name" type="text" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="order-mission-content" autocomplete="off">事件详情</label>
                            </div>
                            <div class="form-input col-md-10">
                                <textarea id="order-mission-content" type="text" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="order-confirm-event">
                                <span class="button-content">新增</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide" id="white-modal-60" title="新增安装事件">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="machine-mission-name">事件名称</label>
                            </div>
                            <div class="form-input col-md-9">
                                <select id="machine-mission-name">
                                    <option>---请选择安装事件---</option>
                                    <option value="1">勘测事件</option>
                                    <option value="2">安装事件</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="machine-mission-content" autocomplete="off">事件详情</label>
                            </div>
                            <div class="form-input col-md-9">
                                <textarea id="machine-mission-content" type="text" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <label id="mission-type" class="form-label col-md-3">勘测日期</label>
                            <div class="form-input col-md-9">
                                <input id = "machine-mission-date" type="date"/>
                            </div>
                        </div>
                        <div class="row" id="mission-channel-container" style="display: none">
                            <div class="form-row" style="margin-left: 0px; margin-right: 0px">
                                <label class="form-label col-md-3">安装服务商</label>
                                <div class="form-input col-md-9">
                                    <select id="machine-mission-channel" style="border-radius: 2px">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left: 0px; margin-right: 0px">
                                <label class="form-label col-md-3">安装方式</label>
                                <div class="form-input col-md-9">
                                    <select id="machine-install-type" style="border-radius: 2px">
                                        <option>---请选择安装方式---</option>
                                        <option>墙体安装</option>
                                        <option>玻璃安装</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="machine-mission-codeId" autocomplete="off">二维码</label>
                            </div>
                            <div class="form-input col-md-9">
                                <input id="machine-mission-codeId" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label>机器状态</label>
                            </div>
                            <div class="form-input col-md-9">
                                <select id="machine-mission-status">
                                    <option>---机器状态---</option>
                                    <option value="0">预勘测</option>
                                    <option value="1">预安装</option>
                                    <option value="2">安装完成</option>
                                    <option value="3">安装取消</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="mission-content" autocomplete="off">图片上传</label>
                            </div>
                            <div class="weui-cells weui-cells_form" id="uploaderCustom">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__bd">
                                                <ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
                                                <div class="weui-uploader__input-box">
                                                    <input id="uploaderCustomInput" name="photo" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="machine-confirm-event">
                                <span class="button-content">新增</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            	$(document).ready(function() {
            		var orderId = "${order.orderId}";
            		var fetch_mission_url = "${path.concat('/order/')}" + orderId + "/mission";
            		$.get(fetch_mission_url, function(result) {
            			if(result.responseCode == "RESPONSE_OK") {
            				var missions = result.data;
            				for(var i = 0; i < missions.length; i ++) {
	            				var row = $("<div class='row'></div>");
	            				var content_box = $("<div class='content-box'></div>");
	            				var head = $("<h3 class='content-box-header bg-gray-alt'></h3>");
	            				var separator = $("<div class='glyph-icon icon-separator'>");
	            				var comment = $("<i class='glyph-icon icon-comments'></i>");
	            				var span = $("<span></span>").text(missions[i].missionRecorder);
	            				var float_right = $("<div class='glyph-icon icon-separator transparent float-right'></div>")
	            				var icon_comment = $("<i class='glyph-icon icon-comments'></i>");
	            				float_right.append(icon_comment);
	            				separator.append(comment);
	            				head.append(separator);
	            				head.append(span);
	            				head.append(float_right);
	            				content_box.append(head);
	            				var wrapper = $("<div class='content-box-wrapper' style='font-size: 15px; line-height: 1.4; overflow: hidden'></div>");
	            				var missionTitle = $("<div class='col-md-2' style='font-weight: bold;'></div>").text(missions[i].missionTitle + ':');
	            				var missionContent = $("<div class='col-md-10'></div>").text(missions[i].missionContent);
	            				wrapper.append(missionTitle);
	            				wrapper.append(missionContent);
	            				content_box.append(wrapper);
	            				row.append(content_box);
	            				$("#mission-area").append(row);
            				}
            			}
            		});
            	});
            </script>
            #elseif(${order.orderStatus} == "PAYED")
            <div class="hide" id="white-modal-80" title="填写产品编号">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="goods-name">产品编号</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="product-serial" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="goods-name" autocomplete="off">物流单号</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="shipment-no" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="confirm-deliver">
                                <span class="button-content">发货</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            #end
        </div>
	</div>
</div>
<script>
    var uploadList = [];
    var uploadFilePathList = [];

    function convertOrderStatus(status){
        var convertResult;
        switch(status) {
            case 'NOT_PAYED' : convertResult = 0; break;
            case 'PAYED': convertResult = 1; break;
            case 'SHIPPED': convertResult = 2; break;
            case 'RECEIVED': convertResult = 3; break;
            case 'INSTALLING': convertResult = 4; break;
            case 'SUCCEED': convertResult = 5; break;
            case 'EXCHANGED': convertResult = 6; break;
            case 'REFUNDING': convertResult = 7; break;
            case 'REFUNDED': convertResult = 8; break;
            case 'CLOSED': convertResult = 9; break;
            default: convertResult = 1; break;
        }
        return convertResult;
    }

	$(document).ready(function() {
		$("#confirm-deliver").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/deliver";
			var product_serial = $("#product-serial").val();
			var ship_no = $("#shipment-no").val();
			$.post(url, {productSerial: product_serial, shipNo: ship_no}, function(result) {
				if(result.responseCode == "RESPONSE_OK") {
					window.location.href = "${path.concat('/order/')}" + "${order.orderId}"; 
				}else {
					alert("发货失败");
				}
			});
		})

        $("#machine-mission-name").on('change', function () {
            var installMission = document.getElementById('machine-mission-name');
            var mission = installMission.value;
            var missionTypeLabel = document.getElementById('mission-type');
            var missionTypeContainer = document.getElementById("mission-channel-container");
            switch (mission) {
                case '1':
                    missionTypeLabel.innerHTML = '勘测日期';
                    missionTypeContainer.style = 'display: none';
                    break;
                case '2':
                    missionTypeLabel.innerHTML = '安装日期';
                    missionTypeContainer.style = 'display: block';
                    break;
                default:
                    break;
            }
        });

		$("#order-confirm-event").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/mission/create";
			var mission_title = $("#order-mission-name").val();
			var mission_content = $("#order-mission-content").val();
			var filepath = uploadFilePathList.join(";");

			if (!not_null(mission_title)) {
			    alert("请选择事件类型!");
			    return;
            }

			var mission_params = {
			    missionTitle: mission_title, missionContent: mission_content,
			};

			$.post(url, mission_params, function(result) {
				location.reload();
			})
		});
		
		$("#machine-confirm-event").on('click', function () {
            var url = "${path.concat('/order/')}" + "machinemission/create"
            var param = {filePathList : []};
            var machine_mission_title = $("#machine-mission-name").find(":selected").val();
            if (!not_null(machine_mission_title)) {
                alert("请填写事件的类型");
                return;
            }
            var machine_mission_content = $("#machine-mission-content").val();
            var machine_mission_date = $("#machine-mission-date").val();
            if (!not_null(machine_mission_date)) {
                alert("请填写时间日期");
                return;
            }
            machine_mission_date = new Date(machine_mission_date).toISOString();
            var machine_qrcode = $("#machine-mission-codeId").val();
            if (!not_null(machine_qrcode)) {
                alert("请填写机器的二维码");
                return;
            }
            var machine_mission_status = $("#machine-mission-status").find(":selected").val();
            var machine_mission_channel = $("#machine-mission-channel").find(":selected").val();
            var machine_install_type = $("#machine-install-type").find(":selected").val();
            param = {orderId: "${order.orderId}", deviceId: machine_qrcode, missionTitle: machine_mission_title,
                    missionContent: machine_mission_content, machineStatus: machine_mission_status,
                    missionDate: machine_mission_date, missionChannel: machine_mission_channel, installType: machine_install_type
            }
            if (machine_mission_title == 1) {
                delete param.missionChannel;
                delete param.installType;
            } else {
                if (!not_null(param.missionChannel)) {
                    alert("请填写安装服务商");
                    return;
                }
                if (!not_null(param.installType)) {
                    alert("请填写安装方式");
                    return;
                }
                param.missionChannel = $("#machine-mission-channel").find(":selected").text();
                param.installType = $("#machine-install-type").find(":selected").text();
            }
            param.missionTitle = $("#machine-mission-name").find(":selected").text();
            param.filePathList = JSON.stringify(uploadFilePathList);
            $.post(url, param, function (response) {

            });
        })
		
		$("#order-complete").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/complete";
			$.post(url, function(result) {
				location.reload();
			})
		});
		
		$("#order-cancel").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/cancel";
			$.post(url, function(result) {
				location.reload();
			})
		});

        $("#updateOrder").on('click', function () {
            var url = "${path.concat('/order/')}" + "${order.orderId}" + "/update";
            var buyerName = $('#buyerName').val();
            var buyerAccount = $('#buyerAccount').val();
            var receiverName = $('#receiverName').val();
            var receiverPhone = $('#receiverPhone').val();
            var province = $('#province').find(":selected").text();
            var city = $('#city').find(":selected").text();
            var district = $('#district').find(":selected").text();
            var receiverAddress = $('#receiverAddress').val();
            var orderCoupon = $('#orderCoupon').val();
            var orderTime = new Date($('#orderTime').val()).toISOString();
            var orderChannel = $('#order_channel_list').find(":selected").text();
            var description = $('#orderDescription').val();
            var params = {
                            buyerName: buyerName, buyerAcccount: buyerAccount, receiverName: receiverName,
                            receiverPhone: receiverPhone, province: province, city: city, district: district,
                            receiverAddress: receiverAddress, orderCoupon: orderCoupon, orderTime: orderTime,
                            orderChannel: orderChannel, description: description,
                            orderStatus: convertOrderStatus("${order.orderStatus}")
            };

            var commodities = document.getElementById('goods-container').getAttribute('data-Commodity-number');
            var commodityParams = {orderNo: "${order.orderNo}", commodities: []}
            for (var index = 1; index <= commodities; index++) {
                var commodity = document.getElementById('commodity' + index);
                if (not_null(commodity)) {
                    var commodityId = commodity.getAttribute('data-commodityId');
                    var commodityName = document.getElementById('order-goods' + index.toString()).value;
                    var commodityQuantity = document.getElementById('goods-number' + index.toString()).value;
                    var commodityQrcode = document.getElementById('goods-qrcode' + index.toString()).value;
                    commodityParams.commodities.push(
                        {commodityId : commodityId, commodityName: commodityName,
                            commodityQuantity: commodityQuantity, commodityQrcode: commodityQrcode});
                }
            }
            $.ajax({
                url: "${path.concat('/order/commodity/update')}",
                type: 'POST',
                data: JSON.stringify(commodityParams),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $.post(url, params, function (result) {
                window.location.href = "${path.concat('/order/').concat("${order.orderId}")}";
            });
        })
	});

    function mission_channel_reset() {
        $("#machine-mission-channel").empty();
        #if(${order.serviceName})
            $("#machine-mission-channel").append($("<option value='${order.serviceName}'></option>").text("${order.serviceName}"));
            var default_channel = "${order.serviceName}";
        #else
            $("#machine-mission-channel").append($("<option value=''></option>").text("---请选择安装商---"));
        #end
        var channel_url = "${path.concat('/order/missionChannel/list')}";
        $.get(channel_url, function(result) {
            if(result.responseCode == "RESPONSE_OK") {
                var data = result.data;
                for(index in data) {
                    if (default_channel != data[index].channelName) {
                        var item = $("<option></option>").text(data[index].channelName);
                        item.attr("value", data[index].channelName);
                        $("#machine-mission-channel").append(item);
                    }
                }
            }
        })
    };

	function commodityDel(id) {
        var index = id.replace("delGoods", "");
        var commodityContainer = document.getElementById("goods-container");
        if (commodityContainer.children.length == 1) {
            alert('至少保留一个商品！');
            return;
        }
        var commodity = document.getElementById('commodity' + index);
        var commodityId = commodity.getAttribute('data-commodityId');
        commodityContainer.removeChild(commodity);
        var url = "${path.concat('/order/commodity/delete')}";
        $.post(url, {commodityId: commodityId}, function () {
            return;
        });
    }
	
	function orderChannelReset() {
        var url = "${path.concat('/order/orderChannel/list')}";
        var currentChannel = $('#order_channel_list').find(":selected").text();
        $.get(url, function (result) {
            if (result.responseCode = 'RESPONSE_OK') {
                var currentOrderChannel = $('#order_channel_list')
                for (var index in result.data) {
                    if (currentChannel === result.data[index].channelName) {
                        continue;
                    }
                    var option = document.createElement('option');
                    option.textContent = result.data[index].channelName;
                    currentOrderChannel.append(option);
                }
            }
        })
    }

    orderChannelReset();
	mission_channel_reset();

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }

    weui.uploader('#uploaderCustom', {
        url: "${path}" + '/qrcode/insight/upload',
        auto: true,
        type: 'file',
        compress: {
            width: 1600,
            height: 1600,
            quality: .6
        },
        onBeforeQueued: function(files) {
            if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
                $.alert('请上传图片');
                return false;
            }
            if(this.size > 50 * 1024 * 1024){
                $.alert('请上传不超过50M的图片');
                return false;
            }
            if (files.length > 5) { // 防止一下子选中过多文件
                $.alert('最多只能上传5张图片，请重新选择');
                return false;
            }
            if (files.length <= 0) { // 防止传空
                $.alert('请选择至少一张图片');
                return false;
            }
        },
        onQueued: function(){
            uploadList.push(this);
        },
        onSuccess: function (ret) {
            if (ret.responseCode == 'RESPONSE_OK')
            {
                uploadFilePathList.push(ret.data);
            }
        },
        onError: function(err){
            console.log(this, err);
        }
    });

    // 缩略图预览
    document.querySelector('#uploaderCustomFiles').addEventListener('click', function(e){
        var target = e.target;

        while(!target.classList.contains('weui-uploader__file') && target){
            target = target.parentNode;
        }
        if(!target) return;

        var url = target.getAttribute('style') || '';
        var id = target.getAttribute('data-id');

        if(url){
            url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
        }
        var gallery = weui.gallery(url, {
            onDelete: function(){
                weui.confirm('确定删除该图片？', function(){
                    var index;
                    for (var i = 0, len = uploadCustomFileList.length; i < len; ++i) {
                        var file = uploadCustomFileList[i];
                        if(file.id == id){
                            index = i;
                            break;
                        }
                    }
                    if(index !== undefined) uploadCustomFileList.splice(index, 1);

                    target.remove();
                    gallery.hide();
                });
            }
        });
    });
</script>