<div id="page-main">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单详情
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单详情
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="col-md-12 center-margin">
            	<h4>订单详情</h4>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单编号</div>
            		<div class="form-input col-md-10">${order.orderNo}</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">购买人</div>
            		<div class="form-input col-md-10">${order.buyerName}</div>
            	</div> 
            	<div class="form-row">
            		<div class="form-label col-md-2">交易帐号</div>
            		<div class="form-input col-md-10">${order.buyerAccount}</div>
            	</div> 
            	<div class="form-row">
            		<div class="form-label col-md-2">收货人</div>
            		<div class="form-input col-md-10">${order.receiverName}(${order.receiverPhone})</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">收货地址</div>
            		<div class="form-input col-md-10">${order.receiverAddress}</div>
            	</div>
            	#if($!{order.coupon})
            		<div class="form-row">
            			<div class="form-label col-md-2">优惠码</div>
            			<div class="form-input col-md-10">${order.coupon}</div>
            		</div>
            	#end
            	<div class="form-row">
            		<div class="form-label col-md-2">购买商品</div>
            		<div class="form-input col-md-10">${order.goodsTitle} (${order.goodsKind})</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">付款时间</div>
            		<div class="form-input col-md-10">${order.payTime}</div>
            	</div>
				<div class="form-row">
            		<div class="form-label col-md-2">订单渠道</div>
            		<div class="form-input col-md-10">${order.channel}</div>
            	</div>
            	<div class="form-row">
            		<div class="form-label col-md-2">订单状态</div>
            		<div class="form-input col-md-10">
            			#if(${order.status} == "PAYED")
            				待发货
            			#elseif(${order.status} == "SHIPPED")
            				已发货
            			#elseif(${order.status} == "INSTALLING")
            				安装中
            			#elseif(${order.status} == "SUCCEED")
            				已关闭
            			#elseif(${order.status} == "REFUNDED")
            				已取消
            			#end
            		</div>
            	</div>
            	#if(${order.status} == "SHIPPED" || ${order.status} == "INSTALLING" || ${order.status} == "SUCCEED")
            	<hr />
            	<h4>订单进度</h4>
            	<div id="mission-area"></div>
            	<a href="javascript:;" class="btn medium bg-blue white-modal-80" title="添加订单进度记录">
           			<span class="button-content">添加事件</span>
        		</a>
        		#if(${order.status} == "SHIPPED" || ${order.status} == "INSTALLING")
        		<a id="order-complete" class="btn medium bg-green">
           			<span class="button-content">订单完成</span>
        		</a>
        		#end
        		#elseif(${order.status} == "PAYED")
        		<hr />
            	<div class="form-row">
            		<a class="btn medium bg-blue white-modal-80" title="发货">
           				<span class="button-content">发货</span>
        			</a>
        			<a id="order-cancel" class="btn medium bg-red">
           				<span class="button-content">订单取消</span>
        			</a>
        			<a id="order-complete" class="btn medium bg-green">
	           			<span class="button-content">订单完成</span>
	        		</a>
            	</div>
            	#end
            </div>
            #if(${order.status} == "SHIPPED" || ${order.status} == "INSTALLING" || ${order.status} == "SUCCEED")
            <div class="hide" id="white-modal-80" title="新增订单事件">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="mission-name">事件名称</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="mission-name" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="mission-content" autocomplete="off">事件详情</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="mission-content" type="text" autocomplete="off">
                            </div>
                        </div>
						<div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="mission-content" autocomplete="off">二维码</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="mission-codeId" type="text" autocomplete="off">
                            </div>
						</div>
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="mission-content" autocomplete="off">图片上传</label>
                            </div>
                            <div class="weui-cells weui-cells_form" id="uploaderCustom">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__bd">
                                                <ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
                                                <div class="weui-uploader__input-box">
                                                    <input id="uploaderCustomInput" name="photo" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="confirm-event">
                                <span class="button-content">新增</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            	$(document).ready(function() {
            		var orderId = "${order.orderId}";
            		var fetch_mission_url = "${path.concat('/order/')}" + orderId + "/mission";
            		$.get(fetch_mission_url, function(result) {
            			if(result.responseCode == "RESPONSE_OK") {
            				var missions = result.data;
            				for(var i = 0; i < missions.length; i ++) {
	            				var row = $("<div class='row'></div>");
	            				var content_box = $("<div class='content-box'></div>");
	            				var head = $("<h3 class='content-box-header bg-gray-alt'></h3>");
	            				var separator = $("<div class='glyph-icon icon-separator'>");
	            				var comment = $("<i class='glyph-icon icon-comments'></i>");
	            				var span = $("<span></span>").text(missions[i].missionRecorder);
	            				var float_right = $("<div class='glyph-icon icon-separator transparent float-right'></div>")
	            				var icon_comment = $("<i class='glyph-icon icon-comments'></i>");
	            				float_right.append(icon_comment);
	            				separator.append(comment);
	            				head.append(separator);
	            				head.append(span);
	            				head.append(float_right);
	            				content_box.append(head);
	            				var wrapper = $("<div class='content-box-wrapper'></div>").text(missions[i].missionTitle + ": " + missions[i].missionContent);
	            				content_box.append(wrapper);
	            				row.append(content_box);
	            				$("#mission-area").append(row);
            				}
            			}
            		});
            	});
            </script>
            #elseif(${order.status} == "PAYED")
            <div class="hide" id="white-modal-80" title="填写产品编号">
                <div class="pad10A">
                    <div class="col-md-12 center-margin">
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="goods-name">产品编号</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="product-serial" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-2">
                                <label for="goods-name" autocomplete="off">物流单号</label>
                            </div>
                            <div class="form-input col-md-10">
                                <input id="shipment-no" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn medium bg-blue-alt" id="confirm-deliver">
                                <span class="button-content">发货</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            #end
        </div>
	</div>
</div>
<script>
    var uploadList = [];
    var uploadFilePathList = [];

	$(document).ready(function() {
		$("#confirm-deliver").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/deliver";
			var product_serial = $("#product-serial").val();
			var ship_no = $("#shipment-no").val();
			$.post(url, {productSerial: product_serial, shipNo: ship_no}, function(result) {
				if(result.responseCode == "RESPONSE_OK") {
					window.location.href = "${path.concat('/order/')}" + "${order.orderId}"; 
				}else {
					alert("发货失败");
				}
			});
		})
		
		$("#confirm-event").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/mission/create";
			var mission_title = $("#mission-name").val();
			var mission_content = $("#mission-content").val();
			var codeId = $("#mission-codeId").val();
			var filepath = uploadFilePathList.join(";");
			
			$.post(url, {missionTitle: mission_title, missionContent: mission_content, codeId: codeId, filePath: filepath}, function(result) {
                uploadFilePathList = [];
				location.reload();
			})
		})
		
		$("#order-complete").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/complete";
			$.post(url, function(result) {
				location.reload();
			})
		})
		
		$("#order-cancel").on('click', function() {
			var url = "${path.concat('/order/')}" + "${order.orderId}" + "/cancel";
			$.post(url, function(result) {
				location.reload();
			})
		})
	});

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }

    weui.uploader('#uploaderCustom', {
        url: '/qrcode/insight/upload',
        auto: true,
        type: 'file',
        compress: {
            width: 1600,
            height: 1600,
            quality: .6
        },
        onBeforeQueued: function(files) {
            if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
                $.alert('请上传图片');
                return false;
            }
            if(this.size > 50 * 1024 * 1024){
                $.alert('请上传不超过50M的图片');
                return false;
            }
            if (files.length > 5) { // 防止一下子选中过多文件
                $.alert('最多只能上传5张图片，请重新选择');
                return false;
            }
            if (files.length <= 0) { // 防止传空
                $.alert('请选择至少一张图片');
                return false;
            }
        },
        onQueued: function(){
            uploadList.push(this);
        },
        onSuccess: function (ret) {
            if (ret.responseCode == 'RESPONSE_OK')
            {
                uploadFilePathList.push(ret.data);
            }
        },
        onError: function(err){
            console.log(this, err);
        }
    });

    // 缩略图预览
    document.querySelector('#uploaderCustomFiles').addEventListener('click', function(e){
        var target = e.target;

        while(!target.classList.contains('weui-uploader__file') && target){
            target = target.parentNode;
        }
        if(!target) return;

        var url = target.getAttribute('style') || '';
        var id = target.getAttribute('data-id');

        if(url){
            url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
        }
        var gallery = weui.gallery(url, {
            onDelete: function(){
                weui.confirm('确定删除该图片？', function(){
                    var index;
                    for (var i = 0, len = uploadCustomFileList.length; i < len; ++i) {
                        var file = uploadCustomFileList[i];
                        if(file.id == id){
                            index = i;
                            break;
                        }
                    }
                    if(index !== undefined) uploadCustomFileList.splice(index, 1);

                    target.remove();
                    gallery.hide();
                });
            }
        });
    });
</script>