<div id="page-main">
	<div id="page-main-wrapper">
		<div id="page-header" class="clearfix">
			<div id="page-header-wrapper" class="clearfix">
				<div id="page-breadcrumb-wrapper">
                	<div id="page-breadcrumb">
                    	<a href="javascript:;">
                        	<i class="glyph-icon icon-dashboard"></i>
                                首页
                        </a>
                        <a href="javascript:;">
                            <i class="glyph-icon icon-file-text-o"></i>
                            订单
                        </a>
                        <span class="current">
                            订单列表
                        </span>
                    </div>
                </div>
			</div>
		</div>
        <div id="page-breadcrumb-wrapper">
            <div id="page-breadcrumb">
                <a href="javascript:;">
                    <i class="glyph-icon icon-dashboard"></i>
                        首页
                </a>
                <a href="javascript:;">
                    <i class="glyph-icon icon-file-text-o"></i>
                    订单
                </a>
                <span class="current">
                    订单列表
                </span>
            </div>
        </div>
        <div id="page-content">
            <div class="row col-md-12">
                <div class="col-md-4" style="height: 180px; padding: 20px;">
                    <div style="width: 100%; height: 100%; background: #00b297; border-radius: 5px; padding: 20px; align-items: center; display: flex;">
                        <i class="glyph-icon icon-circle-o" style="font-size: 60px; color: white; opacity: 0.7;"></i>
                        <div style="margin-left: 30px">
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px">总共订单数量</p>
                            <p style="font-size: 40px; color: white; font-weight: 700px; margin-bottom: 0px; padding-bottom: 0px" id="order-all"></p>
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px" class="date-range"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="height: 180px; padding: 20px; border-radius: 5px">
                    <div style="width: 100%; height: 100%; background: #dc3545; border-radius: 5px; padding: 20px; align-items: center; display: flex;">
                        <i class="glyph-icon icon-plus-circle" style="font-size: 60px; color: white; opacity: 0.7;"></i>
                        <div style="margin-left: 30px">
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px">今日新增订单数量</p>
                            <p style="font-size: 40px; color: white; font-weight: 700px; margin-bottom: 0px; padding-bottom: 0px" id="order-today"></p>
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px" class="date-range"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="height: 180px; padding: 20px; border-radius: 5px; ">
                    <div style="width: 100%; height: 100%; background: #0866C6; border-radius: 5px; padding: 20px; align-items: center; display: flex">
                        <i class="glyph-icon icon-ban" style="font-size: 60px; color: white; opacity: 0.7;"></i>
                        <div style="margin-left: 30px">
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px">待处理订单数量</p>
                            <p style="font-size: 40px; color: white; font-weight: 700px; margin-bottom: 0px; padding-bottom: 0px" id="order-insuccess"></p>
                            <p style="font-size: 10px; color: white; margin-bottom: 0px; padding-bottom: 0px" class="date-range"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="float: left">
                <div style="margin-bottom: 20px">
                    <div class="form-input">
                        <div class="row" style="margin-left: 0px; display: flex">
                            <div style="width: 12%; margin-right: 20px">
                                <select id="channel_list" style="border-radius: 5px">
                                    <option>---请选择平台---</option>
                                </select>
                            </div>
                            <div style="width: 12%; margin-right: 20px">
                                <select id="diversion_list" style="border-radius: 5px">
                                    <option>---请选择渠道---</option>
                                </select>
                            </div>
                            <div style="width: 12%; margin-right: 20px">
                                <select id="status_list" style="border-radius: 5px">
                                    <option>---请选择订单状态---</option>
                                </select>
                            </div>
                            <div style="width: 30%; margin-right: 20px">
                                <div class="col-md-6 form-input">
                                    <input id="startDate" type="date" placeholder="起始时间">
                                </div>
                                <div class="col-md-6 form-input">
                                    <input id="endDate" type="date" placeholder="结束时间">
                                </div>
                            </div>
                            <div style="width: 12%; margin-right: 20px" data-toggle="distpicker">
                                <select id="province" style="border-radius: 5px">
                                    <option data-code="" data-text="— 省 —" value="">—— 省 ——</option>
                                </select>
                            </div>
                            <div style="width: 12%">
                                <button id="search_btn" type="button" data-loading-text="查询中" class="btn large loading-button bg-blue">
                                    查询
                                </button>
                                <button id="export_btn" class="btn large loading-button bg-blue" style="margin-left: 10px">
                                    导出
                                </button>
                            </div>
                        </div>
                    </div>
	            </div>
                <table id="order-list-table" class="table table-condensed"></table>
            </div>
        </div>
	</div>
</div>
<script>
	var param = {};
	
	channel_reset();
	
	status_reset();

	diversion_reset();

	initOrderStatistics();
	
	function channel_reset() {
		$("#channel_list").empty();
		$("#channel_list").append($("<option value=''></option>").text("---请选择平台---"));
		var channel_url = "${path.concat('/order/orderChannel/list')}";
		$.get(channel_url, function(result) {
			if(result.responseCode == "RESPONSE_OK") {
				var data = result.data;
				for(index in data) {
					var item = $("<option></option>").text(data[index].channelName);
					item.attr("value", data[index].channelName);
					$("#channel_list").append(item);
				}
			}
		}) 
	}

    function diversion_reset() {
        $("#diversion_list").empty();
        $("#diversion_list").append($("<option value=''></option>").text("---请选择渠道---"));
        var channel_url = "${path.concat('/order/diversion/list')}";
        $.get(channel_url, function(result) {
            if(result.responseCode == "RESPONSE_OK") {
                var data = result.data;
                for(index in data) {
                    var item = $("<option></option>").text(data[index].diversionName);
                    item.attr("value", data[index].diversionName);
                    $("#diversion_list").append(item);
                }
            }
        })
    }
	
	function status_reset() {
		$("#status_list").empty();
		var param = {};
		$("#status_list").append($("<option value=''></option>").text("---请选择订单类型---"));
		var status_url = "${path.concat('/order/orderstatus/list')}";
		$.get(status_url, function(result) {
			if(result.responseCode == "RESPONSE_OK") {
				var data = result.data;
				for(index in data) {
					var item = $("<option></option>");
                    if(data[index] == 0) {
                        item.text("待付款");
                    }
					if(data[index] == 1) {
						item.text("待发货");
					}
					if(data[index] == 2) {
						item.text("已发货");
					}
                    if(data[index] == 3) {
                        item.text("已收货");
                    }
					if(data[index] == 4) {
						item.text("正在安装");
					}
					if(data[index] == 5) {
						item.text("已完成");
					}
					if(data[index] == 8) {
						item.text("已取消");
					}
					item.attr("value", data[index]);
					$("#status_list").append(item);
				}
			}
		})
	}

    $(document).ready(function() {
    	 $("#search_btn").on('click', function() {
            table.draw(false);
        });
    
        $("#confirm-upload").on('click', function() {
            $("#order-form").attr('action', "${path.concat('/order/upload')}");
            $("#order-form").attr('method', "post");
            $("#order-form").attr('enctype', 'multipart/form-data');
            $("#order-form").submit();
        });

        var table = $("#order-list-table").DataTable({
            searching: true,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": true,
            "bLengthChange": false,
            "bAutoWidth": true,
            "bSort": true,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/order/list')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#component-list-table").removeClass('no-footer');
            },
            "fnServerParams": function (aoData) {
            	delete aoData.params;
            	var channel = $("#channel_list").val();
            	if(param.channel != channel) {
                    param.channel = channel;
                    if(!not_null(channel)) {
                        delete param.channel;
                    }
                }
                var diversion = $("#diversion_list").val();
                if(param.diversion != diversion) {
                    param.diversion = diversion;
                    if(!not_null(diversion)) {
                        delete param.diversion;
                    }
                }
                var status = $("#status_list").val();
                if(param.status != status) {
                    param.status = status;
                    if(!not_null(status)) {
                        delete param.status;
                    }
                }
                var startDate = $("#startDate").val();
                if(param.startDate != startDate) {
                    param.startDate = startDate;
                    if(!not_null(startDate)) {
                        delete param.startDate;
                    }
                }
                var endDate = $("#endDate").val();
                if(param.endDate != endDate) {
                    param.endDate = endDate;
                    if(!not_null(endDate)) {
                        delete param.endDate;
                    }
                }
                var province = $("#province").find(':selected').val();
                if(param.province != province) {
                    param.province = province;
                    if(!not_null(province)) {
                        delete param.province;
                    }
                }
                aoData.push({"name": "params", "value": JSON.stringify(param)});
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "订单编号", "mData": "orderNo"},
                {title: "收件人", "mRender": function(data, type, full) {
                    return full.receiverName + "(" + full.receiverPhone + ")";
                }},
                {title: '地区', "mRender": function (data, type, full) {
                    if(not_null(full.receiverAddress)) {
                        if (!not_null(full.province)) {
                            var index = full.receiverAddress.indexOf("市");
                            if (index == -1) {
                                index = full.receiverAddress.indexOf("区");
                            }
                            if (index == -1) {
                                return full.receiverAddress.substr(0, 6);
                            }
                            return full.receiverAddress.substr(0, index + 1);
                        } else {
                            return full.province + full.city;
                        }
                    } else {
                        return "未知";
                    }
                }},
                {title: '下单日期', "mRender": function(data, type, full){
                    var orderTime = new Date(full.orderTime);
                    var year = (orderTime.getFullYear()).toString();
                    var month = ("0" + (orderTime.getMonth() + 1)).slice(-2).toString();
                    var day = ("0" + orderTime.getDate()).slice(-2).toString();
                    return year + '-' + month + '-' + day;
                }},
                {title: "平台", "mData": "orderChannel"},
                {title: "渠道", "mData": "orderDiversion"},
                {title: "当前进度", "mRender": function(data, type, full) {
                	var status = full.orderStatus;
                	if(status == "PAYED") {
                		return "待发货";
                	}
                	if(status == "SHIPPED") {
                		return "已发货";
                	}
                	if(status == "RECEIVED") {
                		return "已收货";
                	}
                	if(status == "INSTALLING") {
                		return "正在安装";
                	}
                	if(status == "SUCCEED") {
                		return "已完成";
                	}
                	if(status == "REFUNDED") {
                		return "已取消";
                	}
                	if (status == "NOT_PAYED") {
                	    return "未付款";
                    }
                	return "未知状态";
                }},
                {title: "操作", "mRender": function(data, type, full) {
                    var node = "";        
                    var edit = "<a href='" + "${path.concat('/order/')}" + full.orderId + "' class='btn small bg-blue-alt tooltip-button' data-placement='top' ><i class='glyph-icon icon-edit'></i></a>";
                    node += edit;
                    return node;
                }}
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无订单记录",
                "search": "搜索:",
                "paginate": {
                    "first": "<i class='icon-caret-left'></i>",
                    "previous": "<i class='icon-angle-left'></i>",
                    "next": "<i class='icon-angle-right'></i>",
                    "last": "<i class='icon-caret-right'></i>"
                }
            }
        });
    });

	$('#export_btn').on('click', function () {
        var url = "${path.concat('/order/list')}";
        var export_param = {};

        var channel = $("#channel_list").val();
        if(not_null(channel)) {
            export_param.channel = channel;
        }
        var diversion = $("#diversion_list").find(":selected").val();
        if (not_null(diversion)) {
            export_param.diversion = diversion;
        }
        var status = $("#status_list").val();
        if(not_null(status)) {
            export_param.status = status;
        }
        var startDate = $("#startDate").val();
        if(not_null(startDate)) {
            export_param.startDate = startDate;
        }
        var endDate = $("#endDate").val();
        if(not_null(endDate)) {
            export_param.endDate = endDate;
        }
        var province = $("#province").find(':selected').val();
        if(not_null(province)) {
            export_param.province = province;
        }
        $.get(url + "?param=" + JSON.stringify(export_param), function (response) {
            if (response.responseCode === 'RESPONSE_OK') {
                var args, headers, keys, filename;
                keys = ['orderNo', 'buyerName', 'receiverName', 'receiverPhone', 'province',
                        'city', 'district', 'receiverAddress', 'orderPrice', 'orderChannel',
                        'orderCoupon', 'orderTime', 'orderStatus', 'shipNo',  'description'];
                header = ['订单号', '买家昵称', '收货人', '收货人手机', '省份', '城市', '地区',
                            '收获地址', '订单总价', '订单渠道', '优惠码', '下单时间', '订单状态',
                            '物流单号', '备注'];
                args = {keys: keys, header: header, data: response.data};
                var csv = convertDataToCSV(args);
                if (csv == null) return;

                filename = 'export.csv';
                if (!csv.match(/^data:text\/csv/i)) {
                    csv = 'data:text/csv;charset=utf-8,' + csv;
                }
                data = encodeURI(csv);

                link = document.createElement('a');
                link.setAttribute('href', data);
                link.setAttribute('download', filename);
                link.click();
            } else {
                alert("没有符合要求的订单");
                return;
            }
        })
    });

	function convertStatus(status) {
	    var result;
        switch (status){
            case 'NOT_PAYED': result = '未付款'; break;
            case 'PAYED': result = '已付款'; break;
            case 'SHIPPED': result = '已发货'; break;
            case 'RECEIVED': result = '已收货'; break;
            case 'INSTALLING': result = '正在安装'; break;
            case 'SUCCEED': result = '已完成'; break;
            case 'REFUNDING': result = '退款中'; break;
            case 'REFUNDED': result = '已退款'; break;
            case 'CLOSED': result = '已取消'; break;
            default: break;
        }
        return result;
    }
	
	function convertDataToCSV(args) {
        var result, columnDelimiter, lineDelimiter, data, header ,ctr, keys;
        header = args.header;
        keys = args.keys;
        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        result = '';
        result += header.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function (item) {
            ctr = 0;
            keys.forEach(function (key) {
                if (ctr > 0) result += columnDelimiter;
                if (key === 'orderStatus') {
                    result += convertStatus(item[key])
                } else if (key == 'orderTime') {
                    var orderDate = new Date(item[key]);
                    var year = (orderDate.getFullYear()).toString();
                    var month = ('0' + (orderDate.getMonth() + 1).toString()).slice(-2).toString();
                    var date = ('0' + (orderDate.getDate()).toString()).slice(-2).toString();
                    result += year + '-' + month + '-' + date;
                } else{
                    result+=item[key];
                }
                ctr++;
            })
            result += lineDelimiter;
        })
        return result;
    }

    // 初始化统计面板
    function initOrderStatistics() {
        var url = "${path.concat('/order/list')}";
        $.get(url, function (response) {
            if (response.responseCode === 'RESPONSE_OK') {
                var order_all = response.data;
                var max_date = order_all[0].orderTime, min_date = order_all[0].orderTime;
                for (var i = 0; i < order_all.length; i++) {
                    if (order_all[i].orderTime > max_date) {
                        max_date = order_all[i].orderTime;
                    }
                    if (order_all[i].orderTime < min_date) {
                        min_date = order_all[i].orderTime;
                    }
                }
                var start_date = formatDate(new Date(min_date));
                console.log(start_date);
                var end_date = formatDate(new Date(max_date));
                var today = new Date();
                $("#order-all").html(order_all.length);
                var order_today = order_all.filter(order => new Date(order.orderTime).toDateString() == today.toDateString());
                $("#order-today").html(order_today.length);
                var order_imcompelete = order_all.filter(order => (order.orderStatus != 'REFUNDED'
                        && order.orderStatus != 'SUCCEED' && order.orderStatus != 'CLOSED'));
                $("#order-insuccess").html(order_imcompelete.length);
                $(".date-range").html(start_date + "~" + end_date);
            } else {
                var default_date = new Date();
                $("#order-all").html(0);
                $("#order-today").html(0);
                $("#order-insuccess").html(0);
                $(".date-range").html(formatDate(default_date));
            }
        });
    }

    function formatDate(date) {
        var year = date.getFullYear().toString();
        var month = ("0" + (date.getMonth() + 1).toString()).slice(-2).toString();
        var day = ("0" + date.getDate().toString()).slice(-2).toString();

        return year + '/' + month + '/' + day;
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>